{% extends "ma-layout.html" %}

{% block pageTitle %}
What is the correct planned end date for this apprenticeship training?
{% endblock %}

{% block content %}


<form action="new-end-date-confirmed"  method="post">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        

  {{ govukDateInput({
    id: "planned-end-date",
    namePrefix: "planned-end-date",
    fieldset: {
      legend: {
        text: "What is the correct planned end date for this apprenticeship training?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      html: "For example, 03 2007"
    },
    items: [
    {
        name: "month",
        
        classes: "govuk-input--width-2"
    },
    {
        name: "year",
        classes: "govuk-input--width-4"
    }
    ]
  }) }}
       
        
       

             

            {{ govukButton({
                text: "Continue"
            }) }}

         


</div>
</div>
</form>
    

{% endblock %}
