{% extends "ma-layout.html" %}

{% block pageTitle %}
  Permission new
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate="">

        
		<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
		  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		  
		    <h1 class="govuk-heading-l">
		      What other permission do you give [training provider name]?
		    </h1>
		    		    		    
		  </legend>
		  
		</fieldset>
		</div>
		
		  
		<div class="govuk-form-group">
		<fieldset class="govuk-fieldset" aria-describedby="hint-2c46ccf7">
		
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				<h2 class="govuk-fieldset__heading">No other permission</h2>
			</legend>
		
			<div class="govuk-hint govuk-!-margin-bottom-3">
			[training provider name] cannot create or manage job adverts on your behalf.
			</div>
		
		    <div class="govuk-radios">
				<div class="govuk-radios__item">
					<input type="radio" name="cookies-settings" id="radio-a7ce5af3-0" value="on" class="govuk-radios__input">
					<label for="radio-a7ce5af3-0" class="govuk-label govuk-radios__label">No other permission</label>
					<div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
			          [training provider name] cannot create or manage job adverts on your behalf.
			        </div>
				</div>
				<div class="gem-c-radio govuk-radios__item">
					<input type="radio" name="cookies-settings" id="radio-a7ce5af3-1" value="off" class="govuk-radios__input">
					<label for="radio-a7ce5af3-1" class="govuk-label govuk-radios__label">Permission to create job adverts</label>
					<div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
			          [training provider name] can create job adverts for you to review. They will also receive and manage applications.
			        </div>
				</div>
				<div class="gem-c-radio govuk-radios__item">
					<input type="radio" name="cookies-settings" id="radio-a7ce5af3-2" value="off" class="govuk-radios__input">
					<label for="radio-a7ce5af3-1" class="govuk-label govuk-radios__label">Permission to create and submit job adverts</label>
					<div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
			          [training provider name] can create and submit job adverts to ESFA without your review. They will also receive and manage applications.
			        </div>
				</div>
			</div>
			
		</fieldset>
		</div>
				  		      
		    		      
		
		<button class="govuk-button" data-module="govuk-button">
		  Save changes
		</button>
		
      </form>
    </div>
  </div>    

{% endblock %}
