{% extends "ma-layout.html" %}

{% block pageTitle %}
  Permission new
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="permission-confirm">

        
		<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
		  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		  
		    <h1 class="govuk-heading-l">
		      Do you give [training provider name] permission to create and submit job adverts?
		    </h1>
		    
		    <p>This will allow your training provider to create and submit job adverts. Any job advert they submit will go to ESFA for approval. You will not get to see it.</p>
		    		    
		  </legend>
		  <div class="govuk-radios">
		    <div class="govuk-radios__item">
		      <input class="govuk-radios__input" id="where-do-you-live" name="do-you-give-permission-to-add" type="radio" value="yes">
		      <label class="govuk-label govuk-radios__label" for="do-you-give-permission">
		        Yes
		      </label>
		        </div>
		    <div class="govuk-radios__item">
		      <input class="govuk-radios__input" id="where-do-you-live-2" name="do-you-give-permission-to-add" type="radio" value="no">
		      <label class="govuk-label govuk-radios__label" for="do-you-give-permission-2">
		        No - they can only create job adverts
		      </label>
		    </div>
		  </div>
		
		</fieldset>
		</div>
		
		<button class="govuk-button" data-module="govuk-button">
		  Continue
		</button>
		
      </form>
    </div>
  </div>    

{% endblock %}
