{% extends "ma-layout.html" %}

{% block pageTitle %}
  Permission new
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate="">

        
		<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
		  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
		  
		    <h1 class="govuk-heading-l">
		      Select the permissions you give [training provider name]
		    </h1>
		    
		  </legend>
		  
		  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
			  
		      <div class="govuk-checkboxes__item">
		        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
		        <label class="govuk-label govuk-checkboxes__label" for="waste">
		          Add apprentice records
		        </label>
		        <div id="add-item-hint" class="govuk-hint govuk-checkboxes__hint">
				  If your company does not pay the levy, this will also allow your training provider to reserve funding on your behalf.
		        </div>
		      </div>
		      
		      
			<div class="govuk-checkboxes__item">
		        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
		        <label class="govuk-label govuk-checkboxes__label" for="contact">
		          Recruit apprentices
		        </label>
		        <div id="recruit-item-hint" class="govuk-hint govuk-checkboxes__hint">
				 <p class="govuk-body govuk-hint">This will allow your training provider to:</p> 
					<ul class="govuk-list govuk-list--bullet govuk-hint">
						<li>create and manage job adverts</li>
						<li>receive and manage applications</li>
					</ul>
		        </div>
		      </div>
		      
		      
		      <div class="govuk-checkboxes__item">
		        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
		        <label class="govuk-label govuk-checkboxes__label" for="contact">
		          Create and submit job adverts
		        </label>
		        <div id="recruit-item-hint" class="govuk-hint govuk-checkboxes__hint">
				This will allow your training provider to create and submit job adverts. Any job advert they submit will go to ESFA for approval. You will not get to see it.
		        </div>
		      </div>
		      
		      
		      
		      
		      
		      
      
      		    </div>		
		</fieldset>
		</div>
		
		<button class="govuk-button" data-module="govuk-button">
		  Continue
		</button>
		
      </form>
    </div>
  </div>    

{% endblock %}
