{% extends "ma-layout.html" %}

{% block pageTitle %}
  Employer Homepage
{% endblock %}

{% block content %}

<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
  <h1 class="govuk-panel__title">
    You've successfully changed BARKING AND DAGENHAM COLLEGE permissions
  </h1>
  <div class="govuk-panel__body">
    We’ll send BENTLEY &amp; BENTLEY LIMITED an email to let them know that you’ve changed their permissions and what their new permissions are.
  </div>
</div>
 
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		  <h1 class="govuk-heading-xl">Your training providers</h1>		
		  <p class="govuk-body">You can add a training provider, then set permissions to choose what they can do on your behalf.</p>
		  <a class="govuk-button" href="/accounts/JKKBY6/providers/find" role="button">Add a training provider</a>
	</div>
</div>


<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7">BARKING AND DAGENHAM COLLEGE</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Organisation</th>
                <th class="govuk-table__header">Permissions</th>
                <th class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BEENIE LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                                <span>Add apprentice records</span><br>
								<span>Create job adverts</span><br>

                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Change permissions</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BENTLEY &amp; BENTLEY ASSOCIATES LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                                <span>Add apprentice records</span>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Change permissions</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BENTLEY &amp; BENTLEY LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">                                								
								<span>{{data['do-you-give-permission-to-add']}}</span><br>
                                <span>{{data['do-you-give-permission-to-recruit']}}</span>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="permission-consolidated-radios.html">
                                    Change permissions
                            </a>
                        </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BENTLEY LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                            <span>Add apprentice records</span><br>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                    Change permissions
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>
        <h2 class="govuk-heading-l govuk-!-margin-top-7">COVENTRY CITY COUNCIL</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Organisation</th>
                <th class="govuk-table__header">Permissions</th>
                    <th class="govuk-table__header"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BEENIE LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                            <span>Add apprentice records</span><br>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                    Change permissions
                            </a>
                        </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BENTLEY &amp; BENTLEY ASSOCIATES LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                            <span>Add apprentice records</span><br>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                    Change permissions
                            </a>
                        </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BENTLEY &amp; BENTLEY LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                            <span>Add apprentice records</span><br>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                    Change permissions
                            </a>
                        </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell das-table-cell-width-30">BENTLEY LIMITED</td>
                    <td class="govuk-table__cell das-table-cell-width-50">
                        <span>Add apprentice records</span><br>
                    </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                                    Change permissions
                            </a>
                        </td>
                </tr>
            </tbody>
        </table>

</div>




<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How permissions work
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">You can:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change permissions for a provider at any time</li>
        <li>review and edit anything a provider does on your behalf</li>
    </ul>
    <p class="govuk-body">Your provider will not be able to access your account.</p>
  </div>
</details>



</div>
    

{% endblock %}
