{% extends "layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}





{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "../index"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Recruitment homepage versions</h1>

    <h2 class="govuk-heading-m">Current version</h2>

    {{ govukTable({
      head: [
        {
          text: "Version name"
        },
        {
          text: "Link",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "Sections"
          },
          {
            html: "<a href='recruitment-layout-options?recruitment-layout-option=recruitment-layout-sections.html&recruitment-heading=Recruitment&status-filter=All'>Open</a>",
            format: "numeric"
          }
        ]
      ]
    }) }}


    <h2 class="govuk-heading-m">Previous versions</h2>

    {{ govukTable({
      head: [
        {
          text: "Version name"
        },
        {
          text: "Link",
          format: "numeric"
        }
      ],
      rows: [
      [
        {
          text: "Split"
        },
        {
          html: "<a href='recruitment?recruitment-provider-scenario=recruitment_yes-provider-yes-vacancy.html&recruitment-employer-scenario=recruitment_employer-yes-vacancy.html&recruitment-heading=Recruitment'>Open</a>",
          format: "numeric"
        }
      ],
      [
        {
          text: "Merge"
        },
        {
          html: "<a href='recruitment-layout-options?recruitment-layout-option=recruitment-layout-merged.html&recruitment-heading=Recruitment'>Open</a>",
          format: "numeric"
        }
      ],
        [
          {
            text: "Table"
          },
          {
            html: "<a href='recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=All'>Open</a>",
            format: "numeric"
          }
        ]
      ]
    }) }}



  </div>
</div>


{% endblock %}
