{% extends "layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "https://employer:account@ma-employer-account.herokuapp.com/stable"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Recruitment</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Vacancies for approval</h2>
  </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">4</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Provider vacancies for approval
          </a>
        </p>
        <p class="govuk-body das-card--description">Review the vacancies that providers have created.</p>
      </div>
    </div>
    </div>
    <div class="govuk-grid-column-one-third">

    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/recruitment/dashboard">
            Provider vacancies in progress
          </a>
        </p>
        <p class="govuk-body das-card--description">See the vacancies that providers are currently working on.</p>
      </div>
    </div>

  </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Your vacancies</h2>
    <p class="govuk-body">Recruit an apprentice by creating your own vacancy. Vacancies will be advertised on <a href="#" class="govuk-link govuk-link--no-visited-state">Find an apprenticeship</a>.</p>
    {{ govukButton({
      text: "Create vacancy"
    }) }}
  </div>
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>


  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
  <p class="gov-uk govuk-!-font-weight-bold"><a href="#" class="govuk-link govuk-link--no-visited-state">Manage your recruitment emails</a></p>
  <p class="gov-uk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>
  </div>
</div>




{% endblock %}
