{% extends "ma-layout.html" %}

{% block pageTitle %}
     Permission new
{% endblock %}

{% block content %}

<style>
	.govuk-back-link {display: none;}
</style>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl">
                         EAS user permissions table
                    </h1>

          </div>

                    <table class="govuk-table" id="table-design-V5">
                         <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                   <th scope="col" class="govuk-table__header app-custom-class"></th>
                                   <th scope="col" class="govuk-table__header app-custom-class">User can</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Owner</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Transactor</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Viewer</th>
                              </tr>
                         </thead>
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Create an account</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon "></span></td>
                                   <td class="govuk-table__cell"><span class="icon "></span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Change account name</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Change password</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Change your email address</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Change email notifications</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Add/remove PAYE</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Add/remove an organisation</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Invite/edit/remove users</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Sign agreement</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Download agreement</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">View agreement</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">View transactions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Send/approve/decline connections</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage accounts</th>
                                   <td class="govuk-table__cell">Download transactions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Approvals and payment</th>
                                   <td class="govuk-table__cell">Add/edit/remove/approve apprentices</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Approvals and payment</th>
                                   <td class="govuk-table__cell">Manage apprentices</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Approvals and payment</th>
                                   <td class="govuk-table__cell">Set payment priority</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Approvals and payment</th>
                                   <td class="govuk-table__cell">Provider permissions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Approvals and payment</th>
                                   <td class="govuk-table__cell">Send/approve/decline transfer requests</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">What I need</th>
                                   <td class="govuk-table__cell">View funding projections</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">What I need</th>
                                   <td class="govuk-table__cell">Download projection</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">What I need</th>
                                   <td class="govuk-table__cell">Estimate funding</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Recruit an apprentice</th>
                                   <td class="govuk-table__cell">Create a vacancy</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Tech and data</th>
                                   <td class="govuk-table__cell">Public sector reporting</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>

     </div>
</div>

{% endblock %}
