{% extends "ma-layout.html" %}

{% block pageTitle %}
     Permission new
{% endblock %}

{% block content %}

<style>
	.govuk-back-link {display: none;}
</style>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

                    <h1 class="govuk-heading-xl">
                         EAS user permissions table
                    </h1>

          </div>


                    <table class="govuk-table" id="table-design-V5">
                         <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                   <th scope="col" class="govuk-table__header app-custom-class"></th>
                                   <th scope="col" class="govuk-table__header app-custom-class">User can</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Owner</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Transactor</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Viewer</th>
                                   <th scope="col" class="govuk-table__header app-custom-class">Notes</th>
                              </tr>
                         </thead>

                         <!-- MANAGE ORGANISATION -->
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Create an account</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell">See notes</span></td>
                                   <td class="govuk-table__cell">See notes</span></td>
                                   <td class="govuk-table__cell">
                                        The user who creates the account is the 'Owner' of that account. The Owner of the account can amend permissions for other users.
                                   </span></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Change account name</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">View agreements / agreement history</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Accept agreement</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Download agreement</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Add / remove PAYE scheme(s)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Add / remove organisation(s)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage organisation</th>
                                   <td class="govuk-table__cell">Invite/ edit/ remove users of account(s)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END MANAGE ORGANISATION -->

                              <!-- MANAGE USER ACCOUNT -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage user account</th>
                                   <td class="govuk-table__cell">Change own password</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage user account</th>
                                   <td class="govuk-table__cell">Change own email address</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage user account</th>
                                   <td class="govuk-table__cell">Set own email notification preferences</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END MANAGE USER ACCOUNT -->

                              <!-- MANAGE YOUR APPRENTICES -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">View apprentice requests</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">Create / edit / delete apprentice requests</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">Approve / send apprentice requests </td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">View apprenticeships</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">Edit / accept / reject changes to apprenticeships</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">Stop / pause/ resume apprenticeships</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">Request change of provider</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Manage your apprentices</th>
                                   <td class="govuk-table__cell">Set payment priority</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END MANAGE YOUR APPRENTICES -->

                              <!-- REPORTING -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Reporting</th>
                                   <td class="govuk-table__cell">Public sector reporting</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END REPORTING -->

                              <!-- YOUR TRAINING PROVIDERS -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your training providers</th>
                                   <td class="govuk-table__cell">Add training provider(s)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your training providers</th>
                                   <td class="govuk-table__cell">View provider permissions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your training providers</th>
                                   <td class="govuk-table__cell">Set provider permissions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END YOUR TRAINING PROVIDERS -->

                              <!-- APPRENTICESHIP ADVERTS -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship adverts</th>
                                   <td class="govuk-table__cell">View adverts</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship adverts</th>
                                   <td class="govuk-table__cell">Create advert(s)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship adverts</th>
                                   <td class="govuk-table__cell">Edit / clone / close / delete / publish an advert(s)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship adverts</th>
                                   <td class="govuk-table__cell">Review (approve / reject) advert(s) created by providers</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship adverts</th>
                                   <td class="govuk-table__cell">Record application outcome</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Apprenticeship adverts</th>
                                   <td class="govuk-table__cell">Set email notification preferences (related to adverts)</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END APPRENTICESHIP ADVERTS -->

                              <!-- RESERVATIONS -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Reservations</th>
                                   <td class="govuk-table__cell">View reservations</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell">Applicable to non-levy paying employers only.</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Reservations</th>
                                   <td class="govuk-table__cell">Reserve funding</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell">Applicable to non-levy paying employers only.</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Reservations</th>
                                   <td class="govuk-table__cell">Add apprentices to reservations</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell">Applicable to non-levy paying employers only.</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Reservations</th>
                                   <td class="govuk-table__cell">Delete a reservation</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell">Applicable to non-levy paying employers only.</td>
                              </tr>
                              <!-- END RESERVATIONS -->

                              <!-- YOUR FINANCE -->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">View transactions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">Download transactions</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">View funding projections</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">Download funding projections</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">Estimate funding</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">View / send / approve / decline connection requests</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">View / send / approve / decline transfer requests</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">View / cancel applications to 'hire a new apprentice payment'</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">Apply for 'hire a new apprentice payment'</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">Submit organisation and finance details related to 'hire a new apprentice payments'</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Your finance</th>
                                   <td class="govuk-table__cell">Amend organisation and finance details related to 'hire a new apprentice payments'</td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon yes">Y</span></td>
                                   <td class="govuk-table__cell"><span class="icon no">N</span></td>
                                   <td class="govuk-table__cell"></td>
                              </tr>
                              <!-- END YOUR FINANCE -->
                         </tbody>
                    </table>
               </div>
          </div>

     </div>
</div>

{% endblock %}
