{% extends "layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back(1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Training provider vacancies for approval</h1>
    <!-- <p class="govuk-body">4 vacancies for approval</p> -->
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


{{ govukTable({
  head: [
    {
      text: "Vacancy title",
      classes: 'app-custom-class'
    },
    {
      text: "Created by",
      classes: 'app-custom-class'
    },
    {
      text: "Submitted on",
      classes: 'app-custom-class'
    },
    {
      text: ""
    }
  ],
  rows: [
    [
      {
        html: "<span>Business apprenticeship<br>VAC1000000597</span>"
      },
      {
        text: "Coventry College"
      },
      {
        text: "11 October 2019"
      },
      {
        html: "<a href='vacancy-review?apprenticeship-name=Business apprenticeship&vacancy-id=VAC1000000597&vacancy-provider=Coventry College&submission-date=11 October 2019' class='govuk-link govuk-link--no-visited-state'>Review</a>",
        format: "numeric"
      }
    ],
    [
      {
        html: "<span>Software developer apprenticeship<br>VAC1000000594</span>"
      },
      {
        text: "Coventry College"
      },
      {
        text: "2 October 2019"
      },
      {
        html: "<a href='vacancy-review?apprenticeship-name=Software developer apprenticeship&vacancy-id=VAC1000000594&vacancy-provider=Coventry College&submission-date=2 October 2019' class='govuk-link govuk-link--no-visited-state'>Review</a>",
        format: "numeric"
      }
    ],
    [
      {
        html: "<span>Engineering Technician Level 3 Product Design and Development Apprentice<br>VAC1000000259</span>"
      },
      {
        text: "Nottingham College"
      },
      {
        text: "28 September 2019"
      },
      {
        html: "<a href='vacancy-review?apprenticeship-name=Engineering Technician Level 3 Product Design and Development Apprentice&vacancy-id=VAC1000000259&vacancy-provider=Nottingham College&submission-date=28 September 2019' class='govuk-link govuk-link--no-visited-state'>Review</a>",
        format: "numeric"
      }
    ],
    [
      {
        html: "<span>Web Development Apprentice<br>VAC1000000453</span>"
      },
      {
        text: "Nottingham College"
      },
      {
        text: "15 August 2019"
      },
      {
        html: "<a href='vacancy-review?apprenticeship-name=Web Development Apprentice&vacancy-id=VAC1000000453&vacancy-provider=Nottingham College&submission-date=15 August 2019' class='govuk-link govuk-link--no-visited-state'>Review</a>",
        format: "numeric"
      }
    ]

  ]
}) }}

  </div>
</div>

{% endblock %}
