{% extends "tp--main-layout.html" %}

{% block pageTitle %}
  Apprentice adverts
{% endblock %}



{% block content %}

<style>

.warning-summary {
    border: 5px solid #f47738;
}

.info-summary,
.warning-summary,
.highlight-summary {
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}

</style>




<!-- TITLE - START -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">COVENTRY COLLEGE</h1>
          <p class="govuk-body govuk-!-padding-bottom-0">UKPRN: 10065322</p>
               
          
     </div>
     <hr class="govuk-grid-column-full govuk-section-break govuk-section-break--xl govuk-section-break--visible">
</div>

<!-- TITLE - END -->



<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
         
     </div>

     <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Creat a cohort</a>
          </h3>

          <p class="govuk-body">Create new cohorts on behalf of an employer.</p>

          
     </div>

     <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Get funding for non-levy employers</a>
          </h3>
          <p class="govuk-body">Secure funding for a non-levy employer to train an apprentice.</p>
     </div>
    

</div>

<!--Row start-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
         
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Apprentice requests</a>
          </h3>

          <p class="govuk-body">Review, edit, approve and add apprentices.</p>

          
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Manage your funding reserved for non-levy employers</a>
          </h3>
          <p class="govuk-body">Add apprentice information to funding you have already reserved for non-levy employers.</p>
     </div>
    

</div>
<!--Row end-->



<!--Row start-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
         
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Manage your apprentices</a>
          </h3>

          <p class="govuk-body">View and update approved apprentice records.</p>

          
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Recruit apprentices</a>
          </h3>
          <p class="govuk-body">Create a vacancy to recruit an apprentice and manage applications.</p>
     </div>
    

</div>
<!--Row end-->


<!--Row start-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
         
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Find employers that need a training provider</a>
          </h3>

          <p class="govuk-body">View employers and share your contact details with them.</p>

          
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Organisations and agreements</a>
          </h3>
          <p class="govuk-body">Find and view organisations and their agreement IDs.</p>
     </div>
    

</div>
<!--Row end-->


<!--Row start-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
         
     </div>

     <div class="govuk-grid-column-one-third">
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Set up employer account</a>
          </h3>

          <p class="govuk-body">Start setting up an apprenticeship service account for an employer.</p>
          <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">
          
     </div>

     


</div>
<!--Row end-->


<div class="govuk-grid-row">
     <div class="govuk-grid-column-tw-thirds">
          <h3 class="govuk-heading-s">Instructions for the apprentices' employer</h3>
          <p class="govuk-body">
               Employers need to <a href="#" class="govuk-link">register to manage their apprenticeshup funds</a>.
          
               <p class="govuk-body">
                    Once they've registered they need to:
               <p>
                    <ol class="govuk-list govuk-list--number">
                         <li>Add the PAYE schemes that the apprentices will be paid through.</li>
                         <li>Add the employer organisations that will contract with the training provider.</li>
                         <li>Accept agreements for their organisations so that they can spend levy funds.</li>
                         <li>Add apprentices to their account so they can authorise payments to you.</li>
                       </ol>
     </div>
</div>

{% endblock %}
