<!-- %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Start filter box %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% -->
<div class="govuk-grid-column-full" style="background-color:#DEE0E2; margin-bottom: 20px; padding-top: 15px">
  <div class="govuk-grid-row">

      <!-- Course filter -->
      <!-- <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group" style="margin-bottom: 20px">
            <label class="govuk-label" for="course-filter">
                Vacancy title
            </label>
            <select class="govuk-select" id="course-filter" name="course-filter" style="min-width: 100%">
              <option value="all">All</option>
              <option value="business-level2">Business: Level 2 (Standard)</option>
              <option value="software-developer-level3">Software developer: Level 3 (Standard)</option>
              <option value="product-design-level3">Product Design and Development: Level 3 (Standard)</option>
              <option value="web-development-level2">Web Development: Level 2 (Standard)</option>
            </select>
          </div>
      </div> -->

      <!-- Closing date filter -->
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group" style="margin-bottom: 20px">
          <label class="govuk-label" for="end-date-filter">
            Closing date
          </label>
          <select class="govuk-select" id="end-date-filter" name="end-date-filter" style="min-width: 100%">
            <option value="all">All</option>
            <option value="sep2019">Sep 2019</option>
            <option value="oct2019">Oct 2019</option>
            <option value="nov2019">Nov 2019</option>
            <option value="dec2019">Dec 2019</option>
            <option value="jan2020">Jan 2020</option>
            <option value="feb2020">Feb 2020</option>
          </select>
        </div>
      </div>

      <!-- Status filter -->
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group" style="margin-bottom: 20px">
          <label class="govuk-label" for="status-filter">
            Status
          </label>
          <select class="govuk-select" id="status-filter" name="status-filter" style="min-width:100%;">
            <option value="All">All</option>
            <option value="Live">Live</option>
            <option value="Draft">Draft</option>
            <option value="Rejected">Rejected</option>
            <option value="Pending-review"> Pending review</option>
            <option value="Closed">Closed</option>
          </select>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="govuk-button" href="manage-your-apprentices-filtered-view" style="margin-bottom: 20px">Apply filters</a>
      </div>
    </div>
  </div>

  <!-- %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% End filter box %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% -->

  <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Create a new vacancy</a></p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Vacancy title</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Applications</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Closing date</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for vacancy in data['vacancies'] %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{vacancy['vacancyTitle']}}<br>{{vacancy['vacancyReference']}}</td>
        <td class="govuk-table__cell" data-sort-value="{{vacancy['applications']}}">{% if vacancy['applications'] > 0 %}{{vacancy['applications']}}{% else %}-{% endif %}{% if vacancy['newApplications'] > 0 %} <b>({{vacancy['newApplications']}} new)</b>{% endif %}</td>
        <td class="govuk-table__cell" data-sort-value="{{vacancy['dataSortValue']}}">{{vacancy['closingDate']}}</td>
        <td class="govuk-table__cell">{{vacancy['status']}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">{{vacancy['actionLink']}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>




<!-- {{ govukTable({
head: [
{
  text: "Vacancy title",
  attributes: {
    "aria-sort": "ascending"
  }
},
{
  text: "Applications",
  attributes: {
    "aria-sort": "none"
  }
},
{
  text: "Closing date",
  attributes: {
    "aria-sort": "none"
  }
},
{
  text: "Status",
  attributes: {
    "aria-sort": "none"
  }
},
{
  text: "",
  format: "numeric"
}
],
rows: [
[
  {
    html: "<span>Business: Level 2 (Standard)<br>VAC1000000597</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "11 Jan 2020",
    attributes: {
      "data-sort-value": "11012020"
    }
  },
  {
    text: "Draft"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Software developer: Level 3 (Standard)<br>VAC1000000334</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "11 Jan 2020",
    attributes: {
      "data-sort-value": "11012020"
    }
  },
  {
    text: "Draft"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Product Design and Development: Level 3 (Standard)<br>VAC1000000230</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "23 Jan 2020",
    attributes: {
      "data-sort-value": "23012020"
    }
  },
  {
    text: "Draft"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Web Development: Level 2 (Standard)<br>VAC1000000134</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "23 Jan 2020",
    attributes: {
      "data-sort-value": "23012020"
    }
  },
  {
    text: "Draft"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Business: Level 2 (Standard)<br>VAC1000000112</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "15 Oct 2019",
    attributes: {
      "data-sort-value": "15102019"
    }
  },
  {
    text: "Rejected"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Software developer: Level 3 (Standard)<br>VAC1000000594</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "15 Oct 2019",
    attributes: {
      "data-sort-value": "15102019"
    }
  },
  {
    text: "Rejected"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Product Design and Development: Level 3 (Standard)<br>VAC1000000847</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "2 Nov 2019",
    attributes: {
      "data-sort-value": "02112019"
    }
  },
  {
    text: "Rejected"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Web Development: Level 2 (Standard)<br>VAC1000000398</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "2 Nov 2019",
    attributes: {
      "data-sort-value": "02112019"
    }
  },
  {
    text: "Rejected"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Web Development: Level 2 (Standard)<br>VAC1000000480</span>"
  },
  {
    text: "4 (2 new)",
    attributes: {
      "data-sort-value": "4"
    }
  },
  {
    text: "12 Jan 2020",
    attributes: {
      "data-sort-value": "12012020"
    }
  },
  {
    text: "Live"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Manage</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Product Design and Development: Level 3 (Standard)<br>VAC1000000293</span>"
  },
  {
    text: "5 (1 new)",
    attributes: {
      "data-sort-value": "5"
    }
  },
  {
    text: "12 Jan 2020",
    attributes: {
      "data-sort-value": "12012020"
    }
  },
  {
    text: "Live"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Manage</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Product Design and Development: Level 3 (Standard)<br>VAC1000000289</span>"
  },
  {
    text: "3",
    attributes: {
      "data-sort-value": "3"
    }
  },
  {
    text: "18 Dec 2019",
    attributes: {
      "data-sort-value": "18122019"
    }
  },
  {
    text: "Live"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Manage</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Software developer: Level 3 (Standard)<br>VAC1000000435</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "2 Feb 2020",
    attributes: {
      "data-sort-value": "02022020"
    }
  },
  {
    text: "Pending review"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Product Design and Development: Level 3 (Standard)<br>VAC1000000890</span>"
  },
  {
    text: "-",
    attributes: {
      "data-sort-value": "0"
    }
  },
  {
    text: "2 Feb 2020",
    attributes: {
      "data-sort-value": "02022020"
    }
  },
  {
    text: "Pending review"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Edit and resubmit</a>",
    format: "numeric"
  }
],
[
  {
    html: "<span>Product Design and Development: Level 3 (Standard)<br>VAC1000000259</span>"
  },
  {
    text: "2",
    attributes: {
      "data-sort-value": "2"
    }
  },
  {
    text: "14 Sep 2019",
    attributes: {
      "data-sort-value": "14092019"
    }
  },
  {
    text: "Closed"
  },
  {
    html: "<a href='#' class='govuk-link govuk-link--no-visited-state'>Manage</a>",
    format: "numeric"
  }
]
]
}) }} -->
