<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Vacancies</h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="das-card" style="height: 180px;">
    <div class="das-card--content">
      <p class="govuk-body govuk-!-font-weight-bold">
        <span class="das-card--stat">8</span>
        <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=draft">
          Draft vacancies
        </a>
      </p>
      <p class="govuk-body das-card--description">Vacancies that need completing and sending for review.</p>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
  <div class="das-card" style="height: 180px;">
    <div class="das-card--content">
      <p class="govuk-body govuk-!-font-weight-bold">
        <span class="das-card--stat">2</span>
        <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=pending%20review">
          Pending review
        </a>
      </p>
      <p class="govuk-body das-card--description">Vacancies that have been sent for review.</p>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=rejected">
            Rejected vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 255px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">11</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=live">
            Live vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies on Find an apprencticeship service.</p>
        <ul class="govuk-list das-card--links">
          <li><a class="govuk-link" href="#">6 live vacancies closing soon</a></li>
          <li><a class="govuk-link" href="#">3 live vacancies closing soon with no applications</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 255px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">20</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=pending%20review">
            New applications
          </a>
        </p>
        <p class="govuk-body das-card--description">Applications from Find an apprenticeship service.</p>
        <ul class="govuk-list das-card--links">
          <li><a class="govuk-link" href="#">View all applications</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 255px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">11</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=rejected">
            Closed vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">4</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Provider vacancies for approval
          </a>
        </p>
        <p class="govuk-body das-card--description">Review the vacancies that providers have created.</p>
      </div>
    </div>
  </div>
</div>


<div class="govuk-row">
  <div class="govuk-column-two-thirds">
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/ER-1540-employer-dashboard/vacancies?filter=any">
        View all your vacancies (54)
      </a>
    </p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a href="provider-view/provider-vacancies" class="govuk-link govuk-link--no-visited-state">See all provider vacancies</a></p>
  </div>
</div>
