{% include "includes/search-vacancy.html/" %}

<div class="govuk-grid-row govuk-body govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <div class="govuk-heading-l das-divider--bottom">
      In progress
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="das-card" style="height: 180px;">
    <div class="das-card--content">
      <p class="govuk-body govuk-!-font-weight-bold">
        <span class="das-card--stat">8</span>
        <a class="govuk-link govuk-link--no-visited-state" href="recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=Draft">
          Draft vacancies
        </a>
      </p>
      <p class="govuk-body das-card--description">Vacancies that need completing and sending for review.</p>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
  <div class="das-card" style="height: 180px;">
    <div class="das-card--content">
      <p class="govuk-body govuk-!-font-weight-bold">
        <span class="das-card--stat">2</span>
        <a class="govuk-link govuk-link--no-visited-state" href="recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=For-review">
          Vacancies for your approval
        </a>
      </p>
      <p class="govuk-body das-card--description">Review the vacancies that providers have created.</p>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="#">
            Vacancies sent for review
          </a>
        </p>
        <p class="govuk-body das-card--description">All your vacancies are reviewed before they go live</p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-body govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">11</span>
          <a class="govuk-link govuk-link--no-visited-state" href="recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=Rejected">
            Rejected vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
      </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-heading-l das-divider--bottom">
      Live
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-body govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">4</span>
          <a class="govuk-link govuk-link--no-visited-state" href="recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=Live">
            Live vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies on Find an apprencticeship service.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">6</span>
          <a class="govuk-link govuk-link--no-visited-state" href="recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=Live">
            New applications
          </a>
        </p>
        <p class="govuk-body das-card--description">Applications from Find an apprenticeship service.</p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-heading-l das-divider--bottom">
      Archive
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">4</span>
          <a class="govuk-link govuk-link--no-visited-state" href="recruitment-layout-options?recruitment-layout-option=recruitment-layout-table.html&recruitment-heading=Vacancies&status-filter=Closed">
            Closed vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</p>
      </div>
    </div>
  </div>
</div>
