</div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">4</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Provider vacancies for approval
          </a>
        </p>
        <p class="govuk-body das-card--description">Review the vacancies that providers have created.</p>
      </div>
    </div>
  </div>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a href="provider-view/provider-vacancies" class="govuk-link govuk-link--no-visited-state">See all provider vacancies</a></p>
  </div>
</div>
