{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Vacancy approved</h1>
        <div class="govuk-panel__body">
          {{data['vacancy-id']}}
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We’ll check the vacancy now. If the vacancy is not approved, we’ll contact {{data['vacancy-provider']}} about any amends they need to do.</p>
      <p>They will contact you either to confirm your registration, or to ask for more information.</p>

      <h2 class="govuk-heading-m"></h2>

      <form method="post" novalidate>

              {{ govukRadios({
                idPrefix: "what-do-next",
                name: "what-do-next",
                fieldset: {
                  legend: {
                    text: "What do you want to do next?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "review-more-vacancies",
                    text: "Review more vacancies"
                  },
                  {
                    value: "go-to-account-homepage",
                    text: "Go to account homepage"
                  }
                ]
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}
            </form>

    </div>
  </div>

{% endblock %}
