{% extends "ma-layout.html" %}

{% block pageTitle %}
  Success
{% endblock %}

{% block content %}

<style>
	.govuk-back-link {
		display: none;
	}
</style>

<div class="govuk-width-container">
     <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation">
                         <h1 class="govuk-panel__title">Advert submitted to ESFA</h1>
                         <div class="govuk-panel__body">
                              Your reference number<br><strong>VAC1000014106</strong>
                         </div>
                    </div>

                    <h2 class="govuk-heading-m">What happens next</h2>

                    <p class="govuk-body">
                         The ESFA will check the advert and let you know by email, within one working day, if you need to make and edits.
                    </p>

                    <p class="govuk-body">
                         <a class="govuk-link" href="#" data-automation="dashboard-link">Manage the frequency of your recruitment emails</a>
                    </p>


                    <p class="govuk-body">
                         When the advert is approved, it will appear on <a class="govuk-link" href="#" data-automation="dashboard-link">Find an apprenticeship (opens in a new tab)</a>.
                    </p>

                    <p class="govuk-body">
                         <a class="govuk-link" href="#" data-automation="dashboard-link">Return to recruitment</a>
                    </p>

                    <p class="govuk-body">
                         <a class="govuk-link" href="#" data-automation="dashboard-link">Create another advert</a>
                    </p>

               </div>
          </div>
     </main>
</div>


{% endblock %}
