{% extends "ma-layout.html" %}

{% block pageTitle %}
  Reserve fundings
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your funding reservations</h1>
     
      {{ govukInsetText({
        html: "Reserving government funding for apprenticeship training and assessment is currently paused.
        <br><br>
        For apprenticeships with a planned start date in April 2022 you will be able to reserve funding, from your 2022 to 2023 funding allowance from 1 February 2022.
        <br><br>
        Any funding you've already secured is unaffected by this change."
      }) }}
    
<p class="govuk-body">5 reservations</p>

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


<table class="govuk-table das-table--responsive">           
  <thead class="govuk-table__head">
      <tr>
          <th scope="col" class="govuk-table__header"><span class="no-wrap">Organisation</span></th>
          <th scope="col" class="govuk-table__header">Apprenticeship training</th>
          <th scope="col" class="govuk-table__header">Apprenticeship start date</th>
          <th scope="col" class="govuk-table__header"></th>
      </tr>
  </thead>
  <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Organisation">BARBERRY COVENTRY LIMITED</td>
              <td class="govuk-table__cell" data-label="Apprenticeship training">Chef de partie - Level 3</td>
              <td class="govuk-table__cell" data-label="Apprenticeship start date"> May 2020 to Jul 2020</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                          <strong class="govuk-tag govuk-tag--inactive">used</strong>

              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Organisation">BARBERRY COVENTRY LIMITED</td>
              <td class="govuk-table__cell" data-label="Apprenticeship training">Senior production chef - Level 3</td>
              <td class="govuk-table__cell" data-label="Apprenticeship start date"> Apr 2020 to Jun 2020</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                          <strong class="govuk-tag govuk-tag--inactive">used</strong>

              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Organisation">BARBERRY COVENTRY LIMITED</td>
              <td class="govuk-table__cell" data-label="Apprenticeship training">Revenues and welfare benefits practitioner - Level 4</td>
              <td class="govuk-table__cell" data-label="Apprenticeship start date"> Nov 2020 to Jan 2021</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                      <strong class="govuk-tag govuk-tag--inactive">expired</strong>

              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Organisation">BARBERRY COVENTRY LIMITED</td>
              <td class="govuk-table__cell" data-label="Apprenticeship training">Abattoir worker - Level 2</td>
              <td class="govuk-table__cell" data-label="Apprenticeship start date"> Oct 2021 to Dec 2021</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                          <strong class="govuk-tag govuk-tag--inactive">used</strong>

              </td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" data-label="Organisation">BARBERRY COVENTRY LIMITED</td>
              <td class="govuk-table__cell" data-label="Apprenticeship training">Fundraiser - Level 3</td>
              <td class="govuk-table__cell" data-label="Apprenticeship start date"> Dec 2021 to Feb 2022</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                          <a href="#" class="govuk-link">Add apprentice</a><br>
                          <a class="govuk-link" href="#">Delete</a>

              </td>
          </tr>
  </tbody>
</table>





    </div>
  </div>
{% endblock %}
