{% extends "ma-layout.html" %}

{% block pageTitle %}
  Reserve funding
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Reserve funding to train and assess an apprentice</h1>

     <form action="employer-funding-reservations-feb-apprenticeship-training" method="post">

      <p class="govuk-body">To reserve funding, you will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the month you expect the apprenticeship training to start</li>
          <li>the apprenticeship training course the apprentice will take, which can be changed later</li>
        </ul>

        
        {{ govukInsetText({
          html: "Reserving government funding for apprenticeship training and assessment is currently paused.
          <br><br>
          For apprenticeships with a planned start date in April 2022 you will be able to reserve funding, from your 2022 to 2023 funding allowance from 1 February 2022.
          <br><br>
          Any funding you've already secured is unaffected by this change."
        }) }}
                

        {{ govukButton({
          text: "Reserve funding"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
