{% extends "ma-layout.html" %}

{% block pageTitle %}
  Reserve funding
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">When will the apprentice start their apprenticeship training?</h1>

     <form action="#" method="post">

     <div class="govuk-form-group ">
      <fieldset class="govuk-fieldset">
              <span id="choose-start-date-hint" class="govuk-hint">
                Select the month for the planned start date of the apprenticeship.
              </span>

              {{ govukInsetText({
                html: "Reserving government funding for apprenticeship training and assessment is currently paused.
                <br><br>
                You will be able to reserve apprenticeship funding for April 2022 apprenticeship starts from February 2022.
                <br><br>
                Any funding you've already secured (transfers or reservations) is unaffected by this change."
                }) }}
  

          <div class="govuk-radios" data-validation-message="You must select a start date" data-validation-summary-message="Select a start date">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="StartDate-2021-11" name="StartDate" type="radio" value="{&quot;StartDate&quot;:&quot;2021-11-01T00:00:00&quot;,&quot;EndDate&quot;:&quot;2022-01-31T00:00:00&quot;}" required="">
                      <label class="govuk-label govuk-radios__label" for="StartDate-2021-11">
                          April 2022
                      </label>
                  </div>
          </div>
      </fieldset>
  </div>
        
        

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
