{% extends "ma-layout.html" %}

{% block pageTitle %}
  Reserve fundings
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Add an apprentice</h1>


        <p class="govuk-body"> There is currently a pause in reserving government funding. Any funding you've already secured is unaffected by this change.
        </p>


        <p class="govuk-body">
          You will be able to reserve funding in February 2022 for apprenticeship starts in April 2022.
        <p>

   
 {{ govukButton({
   text: "Go to homepage"
 }) }}


    </div>
  </div>
{% endblock %}
