{% extends "ma-layout.html" %}

{% block pageTitle %}
  Reserve fundings
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Government funding is currently paused</h1>


        <p class="govuk-body"> Reserving government funding for apprenticeship training and assessment is currently paused.
        </p>


        <p class="govuk-body">
          For apprenticeships with a planned start date in April 2022 you will be able to reserve funding, from your 2022 to 2023 funding allowance from 1 February 2022.
        <p>

          <p class="govuk-body">
            Any funding you've already secured is unaffected by this change.
          </p>

          <p class="govuk-body">
            <a href="#">Go to homepage</a>
          </p>


    </div>
  </div>
{% endblock %}
