{% extends "ma-layout.html" %}

{% block pageTitle %}
  Reserve fundings
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Reserving government funding for apprenticeship training and assessment is currently paused</h1>


        <p class="govuk-body"> 
          You will be able to reserve apprenticeship funding for April 2022 apprenticeship starts from February 2022.        
        </p>


        <p class="govuk-body">
          Any funding you've already secured (transfers or reservations) is unaffected by this change.        
        </p>

        {{ govukButton({
          text: "Return to account"
        }) }}



    </div>
  </div>
{% endblock %}
