{% extends "ma-layout-main.html" %}

{% block pageTitle %}
  Apprentice adverts
{% endblock %}

{% block content %}

<!-- TITLE - START -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl">Account ID: GBBGXR</span>
          <h1 class="govuk-heading-xl">BENTLEY &amp; BENTLEY LTD</h1>
     </div>
    
</div>
<!-- TITLE - END -->



<!-- ROW START-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
          <hr class="govuk-grid-column-full govuk-section-break govuk-section-break-l govuk-section-break--visible govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l">Apprenticeships</h2>
          <p class="govuk-body govuk-!-margin-bottom-6">
               Manage your apprentices, advertise<br>apprenticeships and set training provider<br>permissions
          <p>
     </div>
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Apprentices</a>
          </h3>
          <p class="govuk-body">Add apprentices, update details of existing apprentices, change training providers and authorise payments to training providers.</p>
     </div>

     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Manage your emails</a>
          </h3>
          <p class="govuk-body">Set up and manage the emails you receive about your adverts and applications.</p>
     </div>

     

</div>
<!-- ROW END-->

<!-- ROW START-->
<div class="govuk-grid-row">
     

    
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your training providers</a>
          </h3>
          <p class="govuk-body">Add training providers and manage permissions to choose what they can do on your behalf.</p>
     </div>

     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Find apprenticeship training</a>
          </h3>
          <p class="govuk-body">Search for apprenticeships and see details of approved providers who can deliver the training.</p>
     </div>

     

</div>
<!-- ROW END-->



<!-- ROW START-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
          <hr class="govuk-grid-column-full govuk-section-break govuk-section-break-l govuk-section-break--visible govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l">Finances</h2>
          <p class="govuk-body govuk-!-margin-bottom-6">
               Manage your apprenticeship funds
          <p>
     </div>
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your funding reservations</a>
          </h3>
          <p class="govuk-body">Reserve and manage funding.</p>
     </div>

     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your finances</a>
          </h3>
          <p class="govuk-body">View your financial transactions, connect with other employers and receive transfer funds.</p>
     </div>

     

</div>
<!-- ROW END-->

<!-- ROW START-->
<div class="govuk-grid-row">
     

    
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Apply for the hire a new apprentice payment</a>
          </h3>
          <p class="govuk-body">You can apply for the payment if you hire new apprentices from 1 August 2020 to 31 January 2021.</p>
     </div>

     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your hire a new apprentice applications</a>
          </h3>
          <p class="govuk-body">View your applications and estimated payments.</p>
     </div>

     

</div>
<!-- ROW END-->




<!-- ROW START-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
          <hr class="govuk-grid-column-full govuk-section-break govuk-section-break-l govuk-section-break--visible govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-l">Account</h2>
          <p class="govuk-body govuk-!-margin-bottom-6">
               Manage your account details and team
          <p>
     </div>
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your organisations and agreements</a>
          </h3>
          <p class="govuk-body">Add your organisations that will make contracts with training providers.</p>
     </div>

     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your team</a>
          </h3>
          <p class="govuk-body">Control what your team can do and invite new team members.</p>
     </div>

     

</div>
<!-- ROW END-->

<!-- ROW START-->
<div class="govuk-grid-row">
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Apply for the hire a new apprentice payment</a>
          </h3>
          <p class="govuk-body">You can apply for the payment if you hire new apprentices from 1 August 2020 to 31 January 2021.</p>
     </div>
    
     
     <div class="govuk-grid-column-one-third govuk-!-margin-bottom-6">
          
          <h3 class="govuk-heading-m">
               <a class="govuk-link govuk-link--no-visited-state" href="#">PAYE schemes</a>
          </h3>
          <p class="govuk-body">Add or remove PAYE schemes.</p>
     </div>

   

     

</div>
<!-- ROW END-->




{% endblock %}
