{% extends "ma-layout.html" %}

{% block pageTitle %}
  Success
{% endblock %}

{% block content %}



<div class="govuk-width-container">
<div class="govuk-grid-row">
<div class="govuk-grid-column-whole">
     
     
     <span class="govuk-caption-xl">Account ID: JJNLKR</span>
     <h1 class="govuk-heading-xl">Coventry City Council_Levy Payer</h1>
     <hr class="dashboard-heading-separator">

     
     <div class="govuk-grid-row govuk-!-margin-bottom-6">
          

          
               <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-l">Apprenticeships</h2>
               <span class="govuk-caption-m">Manage your apprentices, advertise<br> apprenticeships and set training<br>provider permissions

               </span>
               </div>
               <!--NEW TASKS SECTION START-->
               <div class="govuk-grid-column-one-third">
                   
                    
                    {% set tasksHtml %}
                    
                    
                   
                         <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                              Overlapping training dates
                         </h3>
                         <p class="govuk-body">2 ULN's have  potential overlapping training dates. <br><a href="employer-uln-check" class="govuk-link">View ULN's</a><p>
                     <hr>
                    {% endset -%}
                    
                    
                    
                    {{ govukTabs({
                      items: [
                        {
                          label: "Tasks",
                          id: "tasks",
                          panel: {
                            html: tasksHtml
                          }
                        }
                      ]
                    }) }}
                    
               </div>
               <!--NEW TASKS SECTION END-->
     </div>	
     <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
               
               <h3 class="govuk-heading-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Apprentices</a>
               </h3>

               <p class="govuk-body">Add apprentices, update details of existing apprentices, change training providers and authorise payments to training providers.

               </p>

               
          </div>

          <div class="govuk-grid-column-one-third">
               
               <h3 class="govuk-heading-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Your apprenticeship adverts</a>
               </h3>
               <p class="govuk-body">Create adverts to post on find an apprenticeship, view applications, your previous adverts and adverts created by training providers.

               </p>
          </div>
         
     

     </div>
     

     

     
     <!--Row end-->


     <!--Row start-->
     <div class="govuk-grid-row">
          

          <div class="govuk-grid-column-full">
               
          </div>

          <div class="govuk-grid-column-one-third">
               
               <h3 class="govuk-heading-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Your training providers</a>
               </h3>

               <p class="govuk-body">Add training providers and manage permissions to choose what they can do on your behalf.



               </p>

               
          </div>

          <div class="govuk-grid-column-one-third">
               
               <h3 class="govuk-heading-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Find apprenticeship training</a>
               </h3>
               <p class="govuk-body">Search for apprenticeships and see details of approved providers who can deliver the training.

               </p>
          </div>
     

     </div>
     

     <hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">

     
     <!--Row end-->

     <div class="govuk-grid-row govuk-!-margin-bottom-6">
          

          
          <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-l">Finances</h2>
          <span class="govuk-caption-m">Manage your apprenticeship funds



          </span>
          </div>
</div>	
<div class="govuk-grid-row">
     <div class="govuk-grid-column-one-third">
          
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your finances</a>
          </h3>

          <p class="govuk-body">View your financial transactions, connect with other employers and send or receive transfer funds.


          </p>

          
     </div>

     <div class="govuk-grid-column-one-third">
          
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Your hire a new apprentice payments</a>
          </h3>
          <p class="govuk-body">Apply for the payment, view applications and change your payment details.



          </p>
     </div>


</div>





<!--Row end-->


<!--Row start-->
<div class="govuk-grid-row">
     

     <div class="govuk-grid-column-full">
          
     </div>

     <div class="govuk-grid-column-one-third">
          
          <h3 class="govuk-heading-s">
               <a class="govuk-link govuk-link--no-visited-state" href="#">Your transfers</a>
          </h3>

          <p class="govuk-body">
               View your 25% transfers balance and manage your transfers, including finding a business to transfer your levy to.
          </p>

          
     </div>

     


</div>


<hr class="govuk-grid-column-full  govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-7">


<!--Row end-->


<div class="govuk-grid-row govuk-!-margin-bottom-6">
          

          
     <div class="govuk-grid-column-one-third">
     <h2 class="govuk-heading-l">Account</h2>
     <span class="govuk-caption-m">
          Manage your account details and team

     </span>
     </div>
</div>	
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
     
     <h3 class="govuk-heading-s">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Your organisations and agreements</a>
     </h3>

     <p class="govuk-body">
          Add your organisations that will make contracts with training providers.
     </p>

     
</div>

<div class="govuk-grid-column-one-third">
     
     <h3 class="govuk-heading-s">
          <a class="govuk-link govuk-link--no-visited-state" href="recruit-apprentices">Your team</a>
     </h3>
     <p class="govuk-body">
          Control what your team can do and invite new team members.
     </p>
</div>


</div>





<!--Row end-->


<!--Row start-->
<div class="govuk-grid-row govuk-!-margin-bottom-9">


<div class="govuk-grid-column-full">
     
</div>

<div class="govuk-grid-column-one-third">
     
     <h3 class="govuk-heading-s">
          <a class="govuk-link govuk-link--no-visited-state" href="#">PAYE schemes</a>
     </h3>

     <p class="govuk-body">
          Add or remove PAYE schemes.
     </p>

     
</div>




</div>




<!--Row end-->


     
 

</div>
</div>
</div>

{% endblock %}
