{% extends "tp-layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../recruitment"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What do you want to call this vacancy?</h1>
		
		<p class="govuk-body">Use a title that relates to the apprenticeship training for this vacancy, this will help it get found in the Find an apprenticeship search.</p>
			
		<form action="advert-edit" method="post" novalidate>
			
		<div class="govuk-form-group">
			<span class="govuk-hint"> Must include the word 'apprentice' or 'apprenticeship'</span>
			
			<input class="govuk-input govuk-input--width-30" id="postcode" name="postcode" type="text">
			
		</div>
		
		<button class="govuk-button" data-module="govuk-button">Save and continue</button>
		
		</form> 

    </div>
</div>


{% endblock %}
