{% extends "tp-layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row ">
    <div class="govuk-grid-column-two-thirds">

	<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Which organisation is this vacancy for?</h1>

	<p class="govuk-body">Select an organisation</p>
	
	<form action="choose-title" method="post">
	<div class="govuk-form-group">
	    <fieldset class="govuk-fieldset">
	        <span class="govuk-error-message field-validation-valid" id="error-message-SelectedEmployerId" data-valmsg-for="SelectedEmployerId" data-valmsg-replace="true"></span>
	        <div class="govuk-radios">
	                <div class="govuk-radios__item">
	                    <input type="radio" value="7G9B9R" class="govuk-radios__input" id="emp-7G9B9R" name="SelectedEmployerId">
	                    <label for="emp-7G9B9R" class="govuk-label govuk-radios__label">BENTLEY & BENTLEY LIMITED</label>
	                </div>
	                <div class="govuk-radios__item">
	                    <input type="radio" value="BB8W4N" class="govuk-radios__input" id="emp-BB8W4N" name="SelectedEmployerId">
	                    <label for="emp-BB8W4N" class="govuk-label govuk-radios__label">Coventry City Council</label>
	                </div>
	        </div>
	    </fieldset>
	</div>
	
	<details class="govuk-details" data-module="govuk-details">
	  <summary class="govuk-details__summary">
	    <span class="govuk-details__summary-text">
	      My organisation is not listed
	    </span>
	  </summary>
	  <div class="govuk-details__text">
	    Your employer is not listed because you do not have the permission to create a vacancy for them. You’ll need to contact them to set this permission.
	  </div>
	</details>
	
	<button class="govuk-button" data-module="govuk-button">
        Save and continue
  </button>
  
	<br>
	
	<a class="govuk-link das-button-link" href="">Cancel</a>
	
	</form>
    </div>
</div>






</div>
</div>

{% endblock %}
