
<div class="govuk-grid-row govuk-body govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <div class="govuk-heading-l das-divider--bottom">
      Started
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  <div class="das-card" style="height: 255px;">
    <div class="das-card--content">
      <div class="das-card--header">
      <p class="govuk-body govuk-!-font-weight-bold">
        <span class="das-card--stat">0</span>
        Draft vacancies
      </p>
      </div>
      <p class="govuk-body das-card--description">Vacancies that need completing and sending for review.</p>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
  <div class="das-card" style="height: 255px;">
    <div class="das-card--content">
      <div class="das-card--header">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">0</span>
          Vacancies for your approval
        </p>
      </div>
      <p class="govuk-body das-card--description">Your chance to review vacancies that providers have created on your behalf.</p>
    </div>
  </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 255px;">
      <div class="das-card--content">
        <div class="das-card--header">
          <p class="govuk-body govuk-!-font-weight-bold">
            <span class="das-card--stat">0</span>
            Vacancies sent for Apprenticeship Service review
          </p>
        </div>
        <p class="govuk-body das-card--description">All your vacancies are reviewed before they appear on the Find an apprenticeship service.</p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-body govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 190px;">
      <div class="das-card--content">
        <div class="das-card--header">
          <p class="govuk-body govuk-!-font-weight-bold">
            <span class="das-card--stat">0</span>
            Rejected vacancies
          </p>
        </div>
        <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
      </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-heading-l das-divider--bottom">
      Live
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-body govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 190px;">
      <div class="das-card--content">
        <div class="das-card--header">
          <p class="govuk-body govuk-!-font-weight-bold">
            <span class="das-card--stat">0</span>
            Live vacancies
          </p>
        </div>
        <p class="govuk-body das-card--description">Vacancies on Find an apprenticeship service.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 190px;">
      <div class="das-card--content">
        <div class="das-card--header">
          <p class="govuk-body govuk-!-font-weight-bold">
            <span class="das-card--stat">0</span>
            New applications
          </p>
        </div>
        <p class="govuk-body das-card--description">Applications from Find an apprenticeship service.</p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-heading-l das-divider--bottom">
      Closed
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 210px;">
      <div class="das-card--content">
        <div class="das-card--header">
          <p class="govuk-body govuk-!-font-weight-bold">
            <span class="das-card--stat">0</span>
            Closed vacancies
          </p>
        </div>
        <p class="govuk-body das-card--description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</p>
      </div>
    </div>
  </div>
</div>
