{% extends "tp-layout.html" %}

{% block pageTitle %}
  Reserve fundings
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Reserve funding for non-levy employers</h1>
     

      <p class="govuk-body">To reserve funds, you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>permission from the employer to reserve funding on their behalf</li>
        <li>the month you expect the apprenticeship training course to start</li>
        <li>the apprenticeship training course the apprentice will take
        </li>
      </ul>

      {{ govukInsetText({
        html: "Reserving government funding for apprenticeship training and assessment is currently paused.
        <br><br>
        You will be able to reserve apprenticeship funding for April 2022 apprenticeship starts from February 2022.
        <br><br>
        Any funding you've already secured (transfers or reservations) is unaffected by this change."
      }) }}

      <form action="provider-get-funding-reservations-feb-choose-employer" method="post">

      <button class="govuk-button" data-module="govuk-button">
        Reserve funding
      </button>

    </form>

    </div>
  </div>
{% endblock %}
