{% extends "tp-layout.html" %}

{% block pageTitle %}
Reserve fundings
{% endblock %}


{% block main %}


{% block content %}


<div class="govuk-width-container">
	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
					    
		    <h1 class="govuk-heading-l  govuk-!-margin-top-4">Choose an employer</h1>		
			<p class="govuk-body">Choose an employer you want to add apprentice details on behalf of.</p> 

			  
				<table class="govuk-table govuk-!-margin-bottom-8" id="order-table-one">
				<thead class="govuk-table__head">
				  <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Employer</th>
					<th scope="col" class="govuk-table__header">Account name</th>
					<th scope="col" class="govuk-table__header">Agreement ID</th>
					<th scope="col" class="govuk-table__header"></th>
				  </tr>
				</thead>
				<tbody class="govuk-table__body">
				  <tr class="govuk-table__row">
					<td class="govuk-table__cell">SAINSBURY'S</td>
					<td class="govuk-table__cell">Reserve funding for non-levy employers journey</td>
					<td class="govuk-table__cell">X4JKRY</td>
					<td class="govuk-table__cell"><a href="provider-get-funding-reservations-feb-confirm-employer">Select</a></td>
				  </tr>
					<tr class="govuk-table__row">
					  <td class="govuk-table__cell">SAINSBURY'S</td>
					  <td class="govuk-table__cell">Add appprentices journey - Jan 2022 no reserved funds</td>
					  <td class="govuk-table__cell">P4JKRY</td>
					  <td class="govuk-table__cell"><a href="provider-add-apprentices-jan-confirm-employer">Select</a></td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">SAINSBURY'S</td>
						<td class="govuk-table__cell">Add appprentices journey - Jan 2022 has reserved funds</td>
						<td class="govuk-table__cell">P4JKRY</td>
						<td class="govuk-table__cell"><a href="provider-add-apprentices-jan-confirm-employer-no-reservations">Select</a></td>
					  </tr>
					  <tr class="govuk-table__row">
						<td class="govuk-table__cell">SAINSBURY'S</td>
						<td class="govuk-table__cell">Add appprentices journey - Feb 2022 </td>
						<td class="govuk-table__cell">P4JKRY</td>
						<td class="govuk-table__cell"><a href="provider-add-apprentices-feb-confirm-employer">Select</a></td>
					  </tr>

  
  
				  </tr>
				</tbody>
			  </table>		
		  </div>
	  </div>
  
		    
	    </div>
	</div>
	
</div>	







{% endblock %}

{% endblock %}
