{% extends "tp-layout.html" %}

{% block pageTitle %}
Reserve fundings
{% endblock %}


{% block main %}


{% block content %}


<div class="govuk-width-container">
  <a href="choose-employer" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" action="provider-get-funding-reservations-feb-apprenticeship-training">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Choose a Reservation</h1>
               </legend>

               <h3 class="govuk-heading-m">Which reservation would you like to use?</h3>
               
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="create-cohort-yes" name="create-cohort" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="create-cohort-yes">
                <b>Plumbing and domestic heating technician - Level 3 starting between Nov 2021 to Jan 2022</b>
                <span class="govuk-caption-m">Created in November 2021</span>
            </label>
            </div>
          </div>

          <div class="govuk-radios__divider">or</div>
          
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="abroad">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
          <b>Create a new reservation</b>
           
        </label>
      </div>
    </div>
      
        </fieldset>
      
    
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </div>
  </main>
</div>
{% endblock %}

{% endblock %}
