<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Recruitment</h1>
  </div>
<!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Provider vacancies *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Vacancies for approval</h2>
  </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">You haven't added any providers to your account.</p>
    <p class="govuk-body">Once a provider is added to your account, and you give them permission to create vacancies they will appear here.</p>
    {{ govukButton({
      text: "Add a provider"
    }) }}

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Employer vacancies *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Your vacancies</h2>
    <p class="govuk-body">Recruit an apprentice by creating your own vacancy. Vacancies will be advertised on <a href="#" class="govuk-link govuk-link--no-visited-state">Find an apprenticeship</a>.</p>
    {{ govukButton({
      text: "Create vacancy"
    }) }}
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Manage notifications *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
  <p class="gov-uk govuk-!-font-weight-bold"><a href="#" class="govuk-link govuk-link--no-visited-state">Manage your recruitment emails</a></p>
  <p class="gov-uk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>
