<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Recruitment</h1>
  </div>
<!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Provider vacancies *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Vacancies for approval</h2>
  </div>
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Any vacancies you'd like to approve before they get published will appear here.</p>
    <p class="govuk-body">You can add a provider and give them permission to create vacancies on your behalf.</p>
    {{ govukButton({
      text: "Add a provider"
    }) }}

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Employer vacancies *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Your vacancies</h2>

    <div class="search-input search-input-with-button">
      <label class="govuk-label " for="search">
      Search for vacancy by title or vacancy ID
      </label>
      <div class="autocomplete__parent_wrapper">
        <div class="autocomplete__wrapper">
          <div aria-atomic="true" aria-live="polite" role="status" style="border: 0px; clip: rect(0px 0px 0px 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
            <span>No search results.</span>
            <span>,,</span>
          </div>
          <p id="search-default-value" class="hidden"></p>
          <div class="autocomplete__parent_wrapper"><div class="autocomplete__wrapper"><div aria-atomic="true" aria-live="polite" role="status" style="border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;"><span>Type in 3 or more characters for results.</span><span>,</span></div><input aria-owns="search__listbox" autocomplete="off" class="autocomplete__input" id="search" name="search" placeholder="" role="combobox" type="text"><ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="search__listbox" role="listbox"></ul></div></div><input aria-owns="searchClients__listbox" autocomplete="off" class="autocomplete__input" id="search-old" name="" role="combobox" type="text" value="" style="display: none;">
          <ul class="autocomplete__menu autocomplete__menu--overlay autocomplete__menu--hidden" id="searchClients__listbox" role="listbox"></ul>
        </div>
      </div>
      <input class="form-control form-control-3-4" name="" id="searchClients-old" type="text" value="" style="display: none;">
      <input class="form-control form-control-3-4" name="filter" id="filter" type="text" value="any" style="display: none;">
    </div>



  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">8</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Draft vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that need completing and sending for review.</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Pending review
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that have been sent for review.</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Rejected vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 255px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">11</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Live vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies on Find an apprencticeship service.</p>
        <ul class="govuk-list das-card--links">
          <li><a class="govuk-link" href="#">6 live vacancies closing soon</a></li>
          <li><a class="govuk-link" href="#">3 live vacancies closing soon with no applications</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Pending review
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that have been sent for review.</p>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Rejected vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
      </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </div>
</div>


<!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Manage notifications *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
  <p class="gov-uk govuk-!-font-weight-bold"><a href="#" class="govuk-link govuk-link--no-visited-state">Manage your recruitment emails</a></p>
  <p class="gov-uk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>
