{% extends "layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../recruitment"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Provider vacancies</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">8</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Draft vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that need completing and sending for review.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/recruitment/dashboard">
            Pending review
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that have been sent for review.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">2</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/recruitment/dashboard">
            Rejected vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">4</span>
          <a class="govuk-link govuk-link--no-visited-state" href="vacancies-for-approval">
            Live vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies on Find an apprencticeship service.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">20</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/recruitment/dashboard">
            New applications
          </a>
        </p>
        <p class="govuk-body das-card--description">Applications from Find an apprenticeship service.</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="das-card" style="height: 180px;">
      <div class="das-card--content">
        <p class="govuk-body govuk-!-font-weight-bold">
          <span class="das-card--stat">11</span>
          <a class="govuk-link govuk-link--no-visited-state" href="https://das-recruit-prototype.herokuapp.com/raa-v2/0-2-1/recruitment/dashboard">
            Closed vacancies
          </a>
        </p>
        <p class="govuk-body das-card--description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
