{% extends "ma-layout.html" %}

{% block pageTitle %}
When did this apprenticeship training stop?
{% endblock %}

{% block content %}


<form action="new-stop-date-confirmed"  method="post">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        

  {{ govukDateInput({
    id: "leaving-date",
    namePrefix: "leaving-date",
    fieldset: {
      legend: {
        text: "When did this apprenticeship training stop?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      html: "<p>Tell us month and year of the leaving date as shown on the P45. </p><p>For example, 03 2022</p>"
    },
    items: [
    {
        name: "month",
        
        classes: "govuk-input--width-2"
    },
    {
        name: "year",
        classes: "govuk-input--width-4"
    }
    ]
  }) }}
       
        
       

             

            {{ govukButton({
                text: "Continue"
            }) }}

         


</div>
</div>
</form>
    

{% endblock %}
