{% extends "ma-layout.html" %}

{% block pageTitle %}
When did this apprenticeship training stop?
{% endblock %}

{% block content %}


<form method="post">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        

  {{ govukDateInput({
    id: "passport-issued",
    namePrefix: "passport-issued",
    fieldset: {
      legend: {
        text: "When did this apprenticeship training stop?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      html: "For example, 27 3 2007"
    },
    items: [
    {
        name: "month",
        
        classes: "govuk-input--width-2"
    },
    {
        name: "year",
        classes: "govuk-input--width-4"
    }
    ]
  }) }}
       
        
       

             

            {{ govukButton({
                text: "Continue",
                href: "new-stop-date-confirmed"
            }) }}

         


</div>
</div>
</form>
    

{% endblock %}
