{% extends "layout.html" %}

{% block pageTitle %}
  Permissions changed
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Account created",
        html: "You can now use your account to manage apprenticeships"
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ govukRadios({
          idPrefix: "where-go-next",
          name: "where-go-next",
          fieldset: {
            legend: {
              text: "What do you want to do next?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "add-provider",
              html: "Add "+data['provider-name']+" to your providers"
            },
            {
              value: "add-vacancy",
              text: "Add a vacancy"
            },
            {
              value: "reserve-funds",
              text: "Reserve funds"
            },
            {
              value: "account-homepage",
              text: "Go to your account homepage"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
