{% extends "layout.html" %}

{% block pageTitle %}
  Enter PAYE details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "add-paye-scheme"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Enter your PAYE scheme details </h1>
      <p class="govuk-body">Enter your accounts office reference number and employer PAYE scheme reference. These details will be checked against the Pensions Regulator.</p>


    <form action="check-your-details" method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Accounts office reference number",
          classes: "govuk-label--s"
        },
        hint: {
                text: "For example, 123PA12345678"
              },
        classes: "govuk-input--width-20",
        id: "accounts-office-reference-number",
        name: "accounts-office-reference-number"
      }) }}

      {{ govukInput({
        label: {
          text: "Employer PAYE scheme reference ",
          classes: "govuk-label--s"
        },
        hint: {
                text: "For example, 123/AB12345"
              },
        classes: "govuk-input--width-20",
        id: "employer-paye-scheme-reference",
        name: "employer-paye-scheme-reference"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>

<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="https://employer:account@ma-employer-account.herokuapp.com/stable?add-paye-now=no&sign-agreement-now=no&reserved-funding=yes&employer-type=non-levy">Skip this step for now</a></p>

  </div>
</div>





{% endblock %}
