{% extends "layout.html" %}

{% block pageTitle %}
Your organisations and agreements
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your organisations and agreements</h1>
  </div>
  <div class="column-one-third">
    <form action="" method="">
        <input class="govuk-button" value="Add new organisation">
    </form>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Add each organisation that will contract with your training providers.</p>

    <p class="govuk-body">There is no restriction on the number of <a href="#">connected organisations</a> you can add.</p>

    <p class="govuk-body">Transfer status: <b>Disabled</b></p>
  </div>
</div>

<div class="govuk-grid-column-full-width">
    
    {{ govukTable({
    firstCellIsHeader: false,
    head: [
        {
        text: "Organisation",
        classes: 'app-custom-class'
        },
        {
        text: "Agreement status",
        classes: 'app-custom-class'
        },
        {
        text: "Action",
        classes: 'app-custom-class'
        },
        {
        text: "Date accepted",
        classes: 'app-custom-class'
        },
        {
        text: "Agreement ID",
        classes: 'app-custom-class'
        },
        {
        text: "Version",
        classes: 'app-custom-class'
        }
    ],
    rows: [
        [
        {
            text: "TEST LIMITED"
        },
        {
            text: "Agreement not accepted"
        },
        {
            html: "<a href='agreement'>Accept agreement</a>"
        },
        {
            text: "-"
        },
        {          
            html: "Accept agreement to receive an agreement ID<br><span class='govuk-tag'>NEW</span>"
        },
        {
            text: "v3",
            format: "numeric"
        }
        ],
        [
        {
            text: "TEST LIMITED"
        },
        {
            text: "Accepted by Sarah Philips"
        },
        {
            html: "<a href='agreement'>View</a>"
        },
        {
            text: "7 August 2019"
        },
        {
            text: "34TH8N"
        },
        {
            text: "v2",
            format: "numeric"
        }
        ],
        [
        {
            text: "TEST LIMITED"
        },
        {
            text: "Accepted by Hank Moody"
        },
        {
            html: "<a href='agreement'>View</a>"
        },
        {
            text: "16 May 2017"
        },
        {
            html: "3JYP9N"
        },
        {
            text: "v1",
            format: "numeric"
        }
        ],
        [
        {
            text: "D AND M LIMITED"
        },
        {
            text: "Accepted by Jimmy McNulty"
        },
        {
            html: "<a href='agreement'>View</a>"
        },
        {
            text: "16 May 2017"
        },
        {
            text: "7ZWBNY"
        },
        {
            text: "v1",
            format: "numeric"
        }
        ]
    ]
    }) }}

</div>

{% endblock %}
