{% extends "ma-layout-no-back-bttn.html" %}

{% block pageTitle %}
Apprenticeship stopped
{% endblock %}

{% block content %}

<form action="stop-request"  method="post">



<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
        titleText: "Apprenticeship stopped",
        html: "Fred Jones"
      }) }}

      <!--<table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">Fred Jones</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Unique learner number</th>
            <td class="govuk-table__cell">1231234</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
            <td class="govuk-table__cell">Academic professional: level 5</td>
          </tr>
         
          
        </tbody>
      </table>-->
    
        
       {{ govukTable({
           
           firstCellIsHeader: true,
          
           rows: [
               [
                   {
                       text: "Status",
                       classes: 'govuk-!-width-one-half'
                   },
                   {
                       html: 
                       "
                       <strong class='govuk-tag govuk-tag--red'>
                        Stopped
                      </strong>
                       "
                   },
                   {
                       text: ""
                   }
               ],
               [
                   {
                       text: "Stopped date"
                   },
                   {
                       html: data['stop-date-month'] | toMonth  + " " +  data['stop-date-year']
                   }, 
                   {
                    html: 
                    "
                    <a href='#' class='govuk-link'>Edit</a>
                    "
                }
               ],
               [
                   {
                       text: "Made redundant"
                   },
                   {
                       text: "No"
                   },
                   {
                       text: ""
                   }
               ],
               [
                   {
                       text: "Apprentice confirmation"
                   },
                   {
                       text: "Unconfirmed"
                   },
                   {
                       text: ""
                   }
               ],
               [
                   {
                       text: "Training provider"
                   },
                   {
                       text: "Boom training"
                   },
                   {
                    html: 
                    "
                    <a href='#' class='govuk-link'>Change</a>
                    "
                },
                {
                    text: ""
                }
               ],
               [
                   {
                       text: "Cohort reference"
                   },
                   {
                       text: "WD6D7G"
                   },
                   {
                       text: ""
                   }
               ]
               
           ]
       }) }}


{{ govukTable({
    caption: "Apprenticeship details",
    firstCellIsHeader: true,
   
    rows: [
        [
            {
                text: "Name",
                classes: 'govuk-!-width-one-half'
            },
            {
                text: "Fred Jones"
            }
        ],
        [
            {
                text: "Email address"
            },
            {
                text: "-"
            }
        ],
        [
            {
                text: "Unique learner number"
            },
            {
                text: "1231234"
            }
        ],
        [
            {
                text: "Date of birth"
            },
            {
                text: "29 September 2000"
            }
        ]
    ]
}) }}


{{ govukTable({
    caption: "Apprenticeship details",
    firstCellIsHeader: true,
    
    rows: [
    [
    {
        text: "Apprenticeship training course",
        classes: 'govuk-!-width-one-half'
    },
    {
        text: "Academic professional Level 5"
    }
],    
    [
            {
                text: "Version"
            },
            {
                text: "1.0"
            }
        ],
        [
            {
                text: "Planned training start date"
            },
            {
                text: "January 2020"
            }
        ],
        [
            {
                text: "Planned training end date"
            },
            {
                text: "March 2022"
            }
        ],
        [
            {
                text: "Total agreed apprenticeship price"
            },
            {
                text: "£1230"
            }
        ],
        [
            {
                text: "Reference"
            },
            {
                text: "-"
            }
        ],
        [
            {
                text: "End point assessor"
            },
            {
                text: "The end point assessor has not been declared"
            }
        ]
    ]
}) }}

</div>
</div>


{% endblock %}
