{% extends "ma-layout.html" %}

{% block pageTitle %}
Confirm the apprenticeship has not stopped
{% endblock %}

{% block content %}


<form method="post">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Confirm the apprenticeship has not stopped
        </h1>
       
       
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">Fred Jones</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Unique learner number</th>
              <td class="govuk-table__cell">1231234</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Apprenticeship training course</th>
              <td class="govuk-table__cell">Academic professional: level 5</td>
            </tr>
            
          </tbody>
        </table>


        {{ govukCheckboxes({
          idPrefix: "waste",
          name: "waste",
          
          items: [
            {
              value: "carcasses",
              text: "The apprenticeship has not stopped"
            }
          ]
        }) }}
       

             

            {{ govukButton({
                text: "Save and continue",
                href: "still-employed-confirmed"
            }) }}

         


</div>
</div>
</form>
    

{% endblock %}
