{% extends "ma-layout.html" %}

{% block pageTitle %}
  Employer Homepage
{% endblock %}

{% block content %}




<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
           Confirm you are rejecting the apprenticeship stop request
        </h1>
       

        {{ govukTable({
            firstCellIsHeader: true,
           
            rows: [
                [
                    {
                        text: "Name"
                    },
                    {
                        text: "Fred jones"
                    }
                ],
                [
                    {
                        text: "Unique learner number"
                    },
                    {
                        text: "1231234"
                    }
                ],
                [
                    {
                        text: "Apprenticeship training course"
                    },
                    {
                        text: "Academic professional: level 5"
                    }
                ]
            ]
        }) }}

       
      {{ govukRadios({
          idPrefix: "confirm-stop",
          name: "confirm-stop",
          
          items: [
          {
            value: "Yes, reject the stop request for this apprentice",
            text: "Yes, reject the stop request for this apprentice"
        },
        {
          value: "No, go back to apprentice details",
          text: "No, go back to apprentice details"
      }
          ]
      }) }}

{{ govukButton({
    text: "Save and continue"
}) }}


</div>
</div>
    

{% endblock %}
