{% extends "ma-layout.html" %}

{% block pageTitle %}
  When did the apprentice leave your employment?
{% endblock %}

{% block content %}


<form action="made-redundant"  method="post">

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        

  {{ govukDateInput({
    id: "stop-date",
    namePrefix: "stop-date",
    fieldset: {
      legend: {
        text: "When did the apprenticeship stop?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      html: "<p>Tell us the month and year of the leaving date as shown on the P45.</p><p>For example 03 2022</p>"
    },
    items: [
    {
        name: "month",
        
        classes: "govuk-input--width-2"
    },
    {
        name: "year",
        classes: "govuk-input--width-4"
    }
    ]
  }) }}
       
   
       

             

            {{ govukButton({
                text: "Continue"
            }) }}

         


</div>
</div>
</form>
    

{% endblock %}
