{% extends "tp--main-layout.html" %}

{% block pageTitle %}
  This apprentice already has an existing record with a previous employer
{% endblock %}



{% block content %}


      
     <div class="govuk-width-container">
          
     
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                

                <h1 class="govuk-heading-xl">This apprentice already has an existing apprenticeship record</h1>

                <p>The planned start date overlaps with existing training for the same apprentice.  This may be because:</p>

                <h2 class="govuk-heading-m">An existing apprenticeship completed early</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>the employer has not updated the stop date</li>
                  <li>the employer has entered an incorrect stop date</li>
                </ul>

                <h2 class="govuk-heading-m">The apprenticeship has ended</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>the employer has not entered a stop date </li>
                  <li>the employer has entered an incorrect stop date</li>
                </ul>


                <p>To request a stop date you can:</p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-9">
                  <li>send an email from the service</li>
                  <li>contact the employer, if you have their details</li>
                </ul>
                


                <!--
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This apprentice already has an existing record with a previous employer</h1>

                <p>The planned start date overlaps with existing training for the same apprentice. This may be because the previous employer:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>has not yet stopped the apprenticeship</li>
                  <li>has stopped the record with an incorrect date</li>
                </ul>

                <p>Before you can add this apprentice, you need to confirm the stop date with the previous employer.</p>

                <p>To request that the previous employer updates their records you can:</p>
                             
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
                  <li>send an email from the service</li>
                  <li>contact the previous employer direct, if you have their details</li>
                </ul>
              -->

                <form action="request-a-stop-date" method="post">
                  
                

                  {{ govukRadios({
                    idPrefix: "request-a-stop-date-check",
                    name: "request-a-stop-date-check",
                    fieldset: {
                      legend: {
                        text: "How do you want to request a stop date?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m "
                      }
                    },
                    items: [
                      {
                        value: "service",
                        text: "Send a stop request email from the service",
                        hint: {
                          text: "This can take up to 4 weeks for the previous employer to action."
                        }
                      },
                      {
                        value: "offline",
                        text: "I'll contact the employer",
                        hint: {
                          text: "Apprentice details will be saved in the cohort until the previous employer amends the date."
                        }
                      },
                      {
                        divider: "or"
                      },
                      {
                        value: "add-later",
                        text: "I'll add the apprentice again later",
                        hint: {
                          text: "The details entered for this apprentice will be deleted."
                        }
                      }
                    ]
                  }) }}
    
                  

                    {{ govukButton({
                      text: "Continue"
                    }) }}
       
                  </form>

                   

          
          </div>
     
      </div>
         
     
     
     </div>
</form>
{% endblock %}
