{% extends "ma-layout.html" %}

{% block pageTitle %}
  Employer Homepage
{% endblock %}

{% block content %}

<form action="stop-request"  method="post">



<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
        titleText: "New stop date confirmed"
      }) }}

      <h1 class="govuk-heading-xl">
          James Smith
      </h1>
        
       {{ govukTable({
           
           firstCellIsHeader: true,
          
           rows: [
               [
                   {
                       text: "Status"
                   },
                   {
                       html: 
                       "
                       <strong class='govuk-tag govuk-tag--red'>
                        Stopped
                      </strong>
                       "
                   },
                   {
                       text: ""
                   }
               ],
               [
                   {
                       text: "Stopped date"
                   },
                   {
                       text: "November 2021"
                   },
                   {
                    html: 
                    "
                    <a href='#' class='govuk-link'>Edit</a>
                    "
                }
               ],
               [
                   {
                       text: "Made redundant"
                   },
                   {
                       text: "No"
                   },
                   {
                       text: ""
                   }
               ],
               [
                   {
                       text: "Apprentice confirmation"
                   },
                   {
                       text: "Unconfirmed"
                   },
                   {
                       text: ""
                   }
               ],
               [
                   {
                       text: "Training provider"
                   },
                   {
                       text: "Boom training"
                   },
                   {
                    html: 
                    "
                     
                    "
                },
                {
                    text: ""
                }
               ],
               [
                   {
                       text: "Cohort reference"
                   },
                   {
                       text: "WD6D7G"
                   },
                   {
                       text: ""
                   }
               ]
               
           ]
       }) }}


{{ govukTable({
    caption: "Apprenticeship details",
    firstCellIsHeader: true,
   
    rows: [
        [
            {
                text: "Name"
            },
            {
                text: "Fred jones"
            }
        ],
        [
            {
                text: "Email address"
            },
            {
                text: "-"
            }
        ],
        [
            {
                text: "Unique learner number"
            },
            {
                text: "1231234"
            }
        ],
        [
            {
                text: "Date of birth"
            },
            {
                text: "29 Sep 2000"
            }
        ]
    ]
}) }}


{{ govukTable({
    caption: "Apprenticeship details",
    firstCellIsHeader: true,
    
    rows: [
    [
    {
        text: "Apprenticeship training course"
    },
    {
        text: "Academic professional Level 5"
    }
],    
    [
            {
                text: "Version"
            },
            {
                text: "1.0"
            }
        ],
        [
            {
                text: "Planned training start date"
            },
            {
                text: "Jan 2020"
            }
        ],
        [
            {
                text: "Planned training end date"
            },
            {
                text: "Mar 2022"
            }
        ],
        [
            {
                text: "Total agreed apprenticeship price"
            },
            {
                text: "£1230"
            }
        ],
        [
            {
                text: "Reference"
            },
            {
                text: "-"
            }
        ],
        [
            {
                text: "End point assessor"
            },
            {
                text: "The end point assessor has not been declared"
            }
        ]
    ]
}) }}

</div>
</div>
   </form> 

{% endblock %}
