{% extends "tp--main-layout.html" %}

{% block pageTitle %}
  Apprentice adverts
{% endblock %}



{% block content %}

<style>
	
     @media (min-width: 641px) {
     
          .boxes {
              display: flex;
              flex-wrap: wrap;
              margin: 0 -15px;
          }
          
          .box {
              margin: 0 15px;
              width: calc(50% - 30px);
          }
     
     }
     
     .box {
         box-sizing: border-box;
         border-bottom: 1px solid #bfc1c3;
     }
     
          
     </style>
       <div class="govuk-width-container">
    
      
        <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
          Approve [apprentice name] details
        </h1>
        <p class="govuk-body">
          <b>Employer:</b> SOMEONE ELSE LTD
        <p>
          <p class="govuk-body">
            <b>Cohort reference:</b> VRY89L
          <p>
            <p class="govuk-body">
              <b>Status:</b> Draft
            <p>

              <p class="govuk-body">
                <b>Message:</b>
              <p>
              {{ govukInsetText({
                text: "The previous employer has approved the suggested stop date."
              }) }}
             
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <hr>

            {{ govukTable({
              caption: "1 X Academic professional Level 5	",
              firstCellIsHeader: false,
              head: [
                {
                  text: "Name"
                },
                {
                  text: "Unique learner number"
                },
                {
                  text: "Date of birth"
                },
                {
                  text: "Training dates"
                },
                {
                  text: "Price"
                },
                {
                  text: ""
                }
              ],
              rows: [
                [
                  {
                    text: "Fred Jones"
                  },
                  {
                    text: "1231234"
                  },
                  {
                    text: "29 Sep 2000"
                  },
                  {
                    text: "Jan 2020 to Mar 2022"
                  },
                  {
                    text: "£2,000"
                  },
                  {
                    html: 
                    "
                    <a href='tp-edit-apprentice' class='govuk-link'>Edit</a>
                    <br><br>
                    <a href='#' class='govuk-link'>Delete</a>
                    "
                  }
                ]
              ]
            }) }}

            {{ govukRadios({
              idPrefix: "approve",
              name: "approve",
              fieldset: {
                legend: {
                  text: "Submit to new employer?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
             
              items: [
                {
                  value: "Yes, send to employer to review or add details",
                  text: "Yes, send to employer to review or add details"
                },
                {
                  value: "No, save and return to apprentice requests",
                  text: "No, save and return to apprentice requests"
                }
              ]
            }) }}

            {{ govukButton({
              text: "Save and submit"
            }) }}

            <br><br>
            <a href="#" class="govuk-link">Save and exit</a>

          </div>
        </div>
        
      </div>
      </main>
    
      </div>
    </div> 
{% endblock %}
