{% include "includes/search-vacancy.html/" %}

<!-- %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% Start filter box %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% -->

{% include "includes/filter-vacancy.html/" %}

  <!-- %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% End filter box %&%&%&%&%&%&%&%&%&%&%&%&%&%&%&%&% -->

  <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Create a new vacancy</a></p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Vacancy title</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Created by</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Applications</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Closing date</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">


      {% for vacancy in filteredVacancies %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{vacancy['vacancyTitle']}}<br>{{vacancy['vacancyReference']}}</td>
          <td class="govuk-table__cell">{% if vacancy['owner'] == "Employer" %}{{data ['employer-name']}}{% else %}{{data ['provider-name']}}{% endif %}</td>
          <td class="govuk-table__cell" data-sort-value="{{vacancy['applications']}}">{% if vacancy['applications'] > 0 %}{{vacancy['applications']}}{% else %}-{% endif %}{% if vacancy['newApplications'] > 0 %} <b>({{vacancy['newApplications']}} new)</b>{% endif %}</td>
          <td class="govuk-table__cell" data-sort-value="{{vacancy['dataSortValue']}}">{{vacancy['closingDate']}}</td>
          <td class="govuk-table__cell">{{vacancy['status']}}</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link govuk-link--no-visited-state">{{vacancy['actionLink']}}</a></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
