{% extends "layout.html" %}

{% block pageTitle %}
  Change permissions
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "provider-overview"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Permissions for {{data['providerName']}}</h1>
    <p class="govuk-body">Set or change permissions for {{data['providerName']}} on behalf of {{data['orgName']}}.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Reserve funding and add apprentice records</h2>
    <p class="govuk-body">With your permission, training providers can reserve funding and add apprentice records on your behalf.</p>

    {{ govukRadios({
      idPrefix: "reserve-funding",
      name: "reserve-funding",
      items: [
        {
          value: "allow-funding",
          text: "Allow"
        },
        {
          value: "do-not-allow-funding",
          text: "Do not allow"
        }
      ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Recruit apprentices</h2>
    <p class="govuk-body">With your permission, training providers can create and manage vacancies, and also receive and manage applications on your behalf. </p>

    {{ govukRadios({
      idPrefix: "recruit-apprentices",
      name: "recruit-apprentices",
      items: [
        {
          value: "allow-recruit",
          text: "Allow"
        },
        {
          value: "allow-review-recruit",
          text: "Allow, but review vacancies before they go live"
        },
        {
          value: "do-not-allow-recruit",
          text: "Do not allow"
        }
      ]
    }) }}

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    {{ govukButton({
      text: "Continue",
      href: "check-permissions-answers"
    }) }}











  </div>
</div>



{% endblock %}
