{% extends "layout.html" %}

{% block pageTitle %}
  Provider overview
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "providers"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{data['providerName']}}</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTable({

  head: [
    {
      text: "Organisation"
    },
    {
      html: "<p class='govuk-body govuk-!-font-weight-bold'>What " +data['providerName']+ " can do on your behalf</p>"

    },
    {
      text: "",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Assurance Aerospace Ltd"
      },
      {
        html: "<p class='govuk-body'>Create cohorts<br>Reserve funding<br>Add and edit apprentice vacancy ads<br>Notify successful and unsuccessful candidates</p>"
      },
      {
        html: "<a class='govuk-link govuk-link--no-visited-state' href='change-provider-permissions?createCohort=yes&reserveFunding=yes&addVacancy=yes&notifyCandidates=yes&createShortlist=no&orgName=Assurance Aerospace Ltd'>Change</a>",
        format: "numeric"
      }
    ],
    [
      {
        text: "Assurance Aerospace Engineering"
      },
      {
        text: "Nothing"
      },
      {
        html: "<a class='govuk-link govuk-link--no-visited-state' href='change-provider-permissions?createCohort=no&reserveFunding=no&addVacancy=no&notifyCandidates=no&createShortlist=no&orgName=Assurance Aerospace Engineering'>Change</a>",
        format: "numeric"
      }
    ]
  ]
}) }}




  </div>
</div>



{% endblock %}
