{% extends "ma-layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {{ govukInsetText({
          html: "This is an out-of-date version of this page. <a class='govuk-link govuk-link--no-visited-state' href='../../..//recruitment/recruitment-layout-options?recruitment-layout-option=recruitment-layout-sections.html&recruitment-heading=Recruitment&status-filter=All'>Go to the updated version</a>. "
        }) }}

        <h1 class="govuk-heading-xl">{{data['recruitment-heading']}}</h1>
        {{ govukButton({
          text: "Create vacancy"
        }) }}
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "../includes/recruitment-layout-options-includes/" + data['recruitment-layout-option'] %}
  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>
    </div>


    <!-- *%*%*%*%*%*%*%*%*%*%*%*%*%*% Manage notifications *%*%*%*%*%*%*%*%*%*%*%*%*%*%-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third govuk-!-margin-top-3">
      <p class="gov-uk govuk-!-font-weight-bold"><a href="#" class="govuk-link govuk-link--no-visited-state">Manage your recruitment emails</a></p>
      <p class="gov-uk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>

  </div>
</div>

{% endblock %}
