{% extends "tp--main-layout.html" %}

{% block pageTitle %}
  Overlapping dates
{% endblock %}



{% block content %}


      
     <div class="govuk-width-container">
          
     
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This apprentice already has an existing record with another employer</h1>

                <p>The planned start date overlaps with existing training for the same apprentice. This may be because the previous employer has not stopped an existing learning record for this apprentice.</p>

                <p>Before you can add this apprentice, we need to confirm the stop date with the previous employer.</p>

                
                <p>You can request a stop date from the previous employer via the service or contact the previous employer yourself if you have their details.</p>
                             
                  

                  
                  

  
                  
                 
                  {{ govukRadios({
                    idPrefix: "where-do-you-live",
                    name: "where-do-you-live",
                    fieldset: {
                      legend: {
                        text: "How do you want to request a stop date?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--m "
                      }
                    },
                    items: [
                      {
                        value: "england",
                        text: "Send a stop request email from the service"
                      },
                      {
                        value: "scotland",
                        text: "Contact the employer myself"
                      },
                      {
                        divider: "or"
                      },
                      {
                        value: "abroad",
                        text: "I'll add the apprentice later"
                      }
                    ]
                  }) }}
    


                    {{ govukButton({
                      text: "Continue",
                      href: "request-a-stop-date"
                    }) }}
       

                   

          
          </div>
     
      </div>
         
     
     
     </div>
</form>
{% endblock %}
