{% extends "ma-layout.html" %}

{% block pageTitle %}
  Employer Homepage
{% endblock %}

{% block content %}

<form method="post">



<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
        titleText: "New stop date confirmed"
      }) }}

      <h1 class="govuk-heading-xl">
          James Smith
      </h1>
        


       <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Status</th>
            <td class="govuk-table__cell"> <strong class='govuk-tag govuk-tag--red'>
                Stopped
              </strong>
            </td>
            <td></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Stopped date</th>
            <td class="govuk-table__cell">{{ data['stop-date-revised-day'] }} {{ data['stop-date-revised-month'] }} {{ data['stop-date-revised-year'] }}  </td>
            <td><a href='#' class='govuk-link'>Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Made redundant</th>
            <td class="govuk-table__cell">No</td>
            <td></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Apprentice confirmation</th>
            <td class="govuk-table__cell">Unconfirmed</td>
            <td></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Training provider</th>
            <td class="govuk-table__cell">	Boom training</td>
            <td></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Cohort reference</th>
            <td class="govuk-table__cell">WD6D7G</td>
            <td></td>
          </tr>
        </tbody>
      </table>


{{ govukTable({
    caption: "Apprenticeship details",
    firstCellIsHeader: true,
   
    rows: [
        [
            {
                text: "Name"
            },
            {
                text: "Fred jones"
            }
        ],
        [
            {
                text: "Email address"
            },
            {
                text: "-"
            }
        ],
        [
            {
                text: "Unique learner number"
            },
            {
                text: "1231234"
            }
        ],
        [
            {
                text: "Date of birth"
            },
            {
                text: "29 Sep 2000"
            }
        ]
    ]
}) }}


{{ govukTable({
    caption: "Apprenticeship details",
    firstCellIsHeader: true,
    
    rows: [
    [
    {
        text: "Apprenticeship training course"
    },
    {
        text: "Academic professional Level 5"
    }
],    
    [
            {
                text: "Version"
            },
            {
                text: "1.0"
            }
        ],
        [
            {
                text: "Planned training start date"
            },
            {
                text: "Jan 2020"
            }
        ],
        [
            {
                text: "Planned training end date"
            },
            {
                text: "Mar 2022"
            }
        ],
        [
            {
                text: "Total agreed apprenticeship price"
            },
            {
                text: "£1230"
            }
        ],
        [
            {
                text: "Reference"
            },
            {
                text: "-"
            }
        ],
        [
            {
                text: "End point assessor"
            },
            {
                text: "The end point assessor has not been declared"
            }
        ]
    ]
}) }}

</div>
</div>
   </form> 

{% endblock %}
