{% extends "ma-layout.html" %}

{% block pageTitle %}
  Employer Homepage
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
            titleText: "Changes approved",
            html: "An alert has been sent to the new training provider"
          }) }}
        

		  <h1 class="govuk-heading-xl">Fred Jones</h1>		
	</div>
</div>


<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        
       {{ govukTable({
           
           firstCellIsHeader: true,
          
           rows: [
           [
           {
               text: "Status"
           },
           {
               html: "<strong class='govuk-tag govuk-tag--red'>
                Stopped
              </strong>"
           }
       ],    
           [
                   {
                       text: "Name"
                   },
                   {
                       text: "Fred jones"
                   }
               ],
               [
                   {
                       text: "Stopped date"
                   },
                   {
                       text: "Jan 2022"
                   }
               ],
               [
                   {
                       text: "Made redundant"
                   },
                   {
                       text: "No"
                   }
               ],
               [
                   {
                       text: "Apprenticeship training course"
                   },
                   {
                       text: "Academic professional level 5"
                   }
               ]
               
           ]
       }) }}
        





{{ govukTable({
    
    firstCellIsHeader: true,
    
    rows: [
        [
            {
                text: "rest of standard info below....."
            },
            {
                text: "....."
            }
        ]
    ]
}) }}





</div>
</div>
    

{% endblock %}
