{% extends "ma-layout.html" %}

{% block pageTitle %}
  Employer Homepage
{% endblock %}

{% block content %}

<form action="stop-request"  method="post">
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		  <h1 class="govuk-heading-xl">Stop request</h1>		
	</div>
</div>


<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
        
       {{ govukTable({
           
           firstCellIsHeader: true,
          
           rows: [
               [
                   {
                       text: "Name"
                   },
                   {
                       text: "Fred jones"
                   }
               ],
               [
                   {
                       text: "Unique learner number"
                   },
                   {
                       text: "1231234"
                   }
               ],
               [
                   {
                       text: "Apprenticeship training course"
                   },
                   {
                       text: "Academic professional level 5"
                   }
               ]
               
           ]
       }) }}
        
{{ govukInsetText({
    text: "[Training provider name] has received notification of a new employer for this learner. For the training to continue, you need to tell us the date they left your employment."
}) }}





 



{{ govukRadios({
    idPrefix: "confirm-stop-date",
    name: "confirm-stop-date",
    fieldset: {
        legend: {
            text: "Has the apprentice left your employment?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
        }
    },
   
    items: [
        {
            value: "Stop this apprenticeship",
            text: "Yes"
        },
        {
            value: "Reject the suggested stop date, this apprenticeship has not left our employment",
            text: "No"
        }
    ]
}) }}

{{ govukButton({
    text: "Save and continue"
}) }}

</div>
</div>
   </form> 

{% endblock %}
