{% extends "layout.html" %}

{% block pageTitle %}
  Your providers
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../index"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Recruitment homepage scenarios</h1>

    {{ govukTable({
      head: [
        {
          text: "Provider"
        },
        {
          text: "Employer vacancies"
        },
        {
          text: "Provider vacancies"
        },
        {
          text: "Link",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "No"
          },
          {
            text: "No"
          },
          {
            text: "No"
          },
          {
            html: "<a href='first-time' class='govuk-link govuk-link--no-visited-state'>Scenario 1</a>",
            format: "numeric"
          }
        ],
        [
          {
            text: "No"
          },
          {
            text: "Yes"
          },
          {
            text: "No"
          },
          {
            html: "<a href='recruitment?recruitment-provider-scenario=recruitment_no-provider.html&recruitment-employer-scenario=recruitment_employer-yes-vacancy.html' class='govuk-link govuk-link--no-visited-state'>Scenario 2</a>",
            format: "numeric"
          }
        ],
        [
          {
            text: "Yes"
          },
          {
            text: "Yes"
          },
          {
            text: "No"
          },
          {
            html: "<a href='recruitment?recruitment-provider-scenario=recruitment_yes-provider-no-vacancy.html&recruitment-employer-scenario=recruitment_employer-yes-vacancy.html' class='govuk-link govuk-link--no-visited-state'>Scenario 3</a>",
            format: "numeric"
          }
        ],
        [
          {
            text: "Yes"
          },
          {
            text: "Yes"
          },
          {
            text: "Yes"
          },
          {
            html: "<a href='recruitment?recruitment-provider-scenario=recruitment_yes-provider-yes-vacancy.html&recruitment-employer-scenario=recruitment_employer-yes-vacancy.html' class='govuk-link govuk-link--no-visited-state'>Scenario 4</a>",
            format: "numeric"
          }
        ],
        [
          {
            text: "Yes"
          },
          {
            text: "No"
          },
          {
            text: "No"
          },
          {
            html: "<a href='recruitment?recruitment-provider-scenario=recruitment_yes-provider-no-vacancy.html&recruitment-employer-scenario=recruitment_employer-no-vacancy.html' class='govuk-link govuk-link--no-visited-state'>Scenario 5</a>",
            format: "numeric"
          }
        ],
        [
          {
            text: "Yes"
          },
          {
            text: "No"
          },
          {
            text: "Yes"
          },
          {
            html: "<a href='recruitment?recruitment-provider-scenario=recruitment_yes-provider-yes-vacancy.html&recruitment-employer-scenario=recruitment_employer-no-vacancy.html' class='govuk-link govuk-link--no-visited-state'>Scenario 6</a>",
            format: "numeric"
          }
        ]

      ]
    }) }}
  </div>
</div>


{% endblock %}
