{% extends "tp--main-layout.html" %}

{% block pageTitle %}
  Overlapping dates
{% endblock %}



{% block content %}

<style>
	
     @media (min-width: 641px) {
     
          .boxes {
              display: flex;
              flex-wrap: wrap;
              margin: 0 -15px;
          }
          
          .box {
              margin: 0 15px;
              width: calc(50% - 30px);
          }
     
     }
     
     .box {
         box-sizing: border-box;
         border-bottom: 1px solid #bfc1c3;
     }
     
          
     </style>
      
     <div class="govuk-width-container">
          
     
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                             
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">This NEW apprentice already has an existing record with another employer</h1>
                  
              </div>
          </div>
    

              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">

                  
                  

                    <p>You need to check:</p>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>you have entered the correct unique learner number (ULN)</li>
                      <li>the dates entered are correct</li>
                    </ul>
     

                    

                    {{ govukTable({
                      caption: "Proposed training dates",
                      captionClasses: "govuk-table__caption--m",
                      firstCellIsHeader: true,
                     
                      rows: [
                        [
                          {
                            text: "Unique Learner Number",
                            classes: 'govuk-!-width-one-half'
                          },
                          {
                            text: "1231234"
                          }
                        ],
                        [
                          {
                            text: "Apprentice name"
                          },
                          {
                            text: "Fred Jones"
                          }
                        ],
                        [
                          {
                            text: "Planned start date"
                          },
                          {
                            text: "March 2022"
                          }
                        ],
                        [
                          {
                            text: "Projected finish date"
                          },
                          {
                            text: "October 2023"
                          }
                        ]
                      ]
                    }) }}

                    
                  <form action="check-dates-new-apprentice" method="post">

                    {{ govukRadios({
                      idPrefix: "details-correct",
                      name: "details-correct",
                      fieldset: {
                        legend: {
                          text: "Are these details correct?",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      hint: {
                        text: "You will be able to send an email to the previous employer, from within the Service, once you have confirmed the dates are correct."
                      },
                      items: [
                        {
                          value: "yes",
                          text: "Yes, submit a request to the previous employer"
                        },
                        {
                          value: "no",
                          text: "No, I need to change the details"
                        }
                      ]
                    }) }}
       

                    <button class='govuk-button' data-module='govuk-button' >
                      Save and continue
                  </button>

                  </form>

                  </div>
                 <div class="govuk-grid-column-two-thirds">

                 <!--<button class='govuk-button' data-module='govuk-button' >
                    Save and continue
                  </button>
                  <button class='govuk-button govuk-button--warning'  data-module='govuk-button' style="float:right" >
                    Delete
                  </button>
                  <div style="clear:both"></div>
                  <a href="#" class="govuk-link">Cancel</a>
                      
                 </div> --> 
             
          
          </div>
     
     
         
     
     
     </div>
</form>
{% endblock %}
