{% extends "ma-layout.html" %}

{% block pageTitle %}
  Apprentice adverts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Your apprenticeship adverts</h1>
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <a class="govuk-button float-right clear govuk-!-margin-top-2 govuk-!-margin-bottom-4" href="/accounts/JKKBY6/create-options/" data-automation="create-vacancy">Create an advert</a>
    </div>
</div>
    
    
<div class="govuk-grid-row">
    <form method="get" autocomplete="off" action="/accounts/JKKBY6/vacancies/">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="form-group search-field">
                        <div class="search-input-with-button">
                            <label class="govuk-label" for="search">
                                Search by advert title or reference number
                            </label>
                            <input id="search-input" name="searchTerm" class="govuk-input search-input ui-autocomplete-input" maxlength="200" autocomplete="off">
                        </div>
                        <div class="search-submit" style="height: 40px;">
                            <!-- hide button for no js version -->
                            <button type="submit" id="search-submit-button" style="height: 40px;">Search</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>


<div class="govuk-grid-row das-card--row">
    <div class="govuk-grid-column-one-third">
        <div class="das-card ">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">8</span>
                    <a class="govuk-link" href="#">
                        Draft adverts
                    </a>
                    
                </h3>
                <p class="govuk-body das-card--description">Adverts that you need to complete and send for review.</p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="das-card">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">1</span> 
                    <a class="govuk-link" href="apprentice-adverts-list-review.html">
	                    View adverts
	                </a>
                </h3>
                <p class="govuk-body das-card--description">Adverts your training provider created that you need to view.</p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="das-card ">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">1</span>
                    <a class="govuk-link" href="#">
                        Pending review
                    </a>
                    
                </h3>
                <p class="govuk-body das-card--description">Adverts that you've sent for review.</p>
            </div>
        </div>
    </div>
</div>
    
    
<div class="govuk-grid-row das-card--row">
	
    <div class="govuk-grid-column-one-third">
        <div class="das-card das-card--inactive">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">0</span>
                    <span>Rejected adverts</span>
                </h3>
                <p class="govuk-body das-card--description">Adverts that you need to edit and resubmit.</p>
            </div>
        </div>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="das-card das-card--inactive">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">0</span>
                    <span>Live adverts</span>
                </h3>
                <span class="govuk-body das-card--description">Your adverts on the Find an apprenticeship service.</span>
            </div>
        </div>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="das-card das-card--inactive">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">0</span>
                    <span>New applications</span>
                </h3>
                <span class="govuk-body das-card--description">Applications from Find an apprenticeship service.</span>
                
            </div>
        </div>
    </div>
    
</div>

<div class="govuk-grid-row">	    
    <div class="govuk-grid-column-one-third">
        <div class="das-card das-card--inactive">
            <div class="das-card--content">
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">0</span>
                    <span>Closed adverts</span>
                </h3>
                <span class="govuk-body das-card--description">Adverts that have passed the closing date. You can clone these adverts to republish them.</span>
            </div>
        </div>
    </div>
    
    <!-- <div class="govuk-grid-column-one-third">
        <div class="das-card das-card--inactive">
            <div class="das-card--content">
	            (If permissions 'not set')
                <h3 class="govuk-heading-s das-card--heading">
                    <span class="das-card--stat">0</span> 
	                <span>[Awaiting your review] </span>
                </h3>
                <p class="govuk-body das-card--description">You can give <a href="#">training providers permissions</a> that will allow them to...</p>
            </div>
        </div>
    </div> -->   
    
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button" href="#">
            View all your adverts (10)
        </a>
    </div>

    <div class="govuk-grid-column-full">
        <hr class="govuk-grid-column-full govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
    
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">

            <a class="govuk-link govuk-link--no-visited-state" href="/accounts/JKKBY6/notifications-manage/">Manage your emails</a>
        </h3>
        <p class="govuk-body">Set up and manage the emails you receive about your adverts and applications.</p>
    </div>
</div>

{% endblock %}
