{% extends "ma-layout.html" %}

{% block pageTitle %}
  Apprentice adverts list 
{% endblock %}

{% block content %}
            

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Your adverts</h1>
    </div>

    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <a class="govuk-button float-right clear govuk-!-margin-bottom-6" href="/accounts/JKKBY6/create-options/" data-automation="create-vacancy">Create an advert</a>
    </div>
</div>

<form method="get" autocomplete="off">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
                <label class="govuk-label" for="Filter">Filter adverts by</label>
                <select class="govuk-select" data-val="true" data-val-required="The Filter field is required." id="Filter" name="Filter">
                    <optgroup label="Status">
                        <option value="All">all adverts</option>
                        <option value="Live">live adverts</option>
                        <option value="Referred">rejected adverts</option>
                        <option value="Referred">adverts pending review</option>
                        <option value="Submitted" selected="selected">ready for review</option>
                        <option value="Draft">draft adverts</option>
                        <option value="Closed">closed adverts</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="NewApplications">with new applications</option>
                        <option value="AllApplications">with applications</option>
                        <option value="ClosingSoonWithNoApplications">closing soon with no applications</option>
                        <option value="ClosingSoon">closing soon</option>
                        <option value="Transferred">transferred from provider</option>
                    </optgroup>
                </select>
                <button type="submit" id="filter-submit" class="das-button-filter das-button-secondary govuk-button govuk-!-margin-top-3 js-hidden">Filter</button>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="form-group search-field">
                        <div class="search-input-with-button">
                            <label class="govuk-label" for="search">
                                Search adverts
                            </label>
                            <input id="search-input" placeholder="Search by advert title, reference number or employer" class="govuk-input search-input ui-autocomplete-input" maxlength="200" type="text" name="SearchTerm" value="" autocomplete="off">
                        </div>
                        <div class="search-submit" style="height: 40px;">
                            <!-- hide button for no js version -->
                            <button type="submit" id="search-submit-button" style="height: 40px;">Search</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">
            2 adverts ready for review <a class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19" href="apprentice-adverts-list-revie-all.html">Show all adverts</a>
        </h3>
        
    </div>
</div>
<div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table responsive das-table--small">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Advert title</th>
                        <th class="govuk-table__header">Advert reference number</th>
                        <th class="govuk-table__header">Applications</th>
                        <th class="govuk-table__header">Closing date</th>
                        <th class="govuk-table__header">Status</th>
                        <th class="govuk-table__header">Action</th>
                    </tr>
                </thead>
            
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Vacancy title">
                            <div>
                                apprenticeship - Ver 3 no audit trail
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell" data-label="Vacancy ref">
                            <span><span>VAC</span>1000014106</span>
                            
                        </td>
                        
                        <td class="govuk-table__cell dashboard-applications" data-label="Applications">-</td>
                        <td class="govuk-table__cell dashboard-closingdate" data-label="Closing date"><span>02 Jul 2021</span></td>
                        <td class="govuk-table__cell dashboard-status" data-label="Status"><span class="govuk-tag govuk-tag--blue">Ready for review</span></td>
                        <td class="govuk-table__cell dashboard-action" data-label="Action">
                            <a class="govuk-link" href="advert-edit-v3-no-trail">Review</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Vacancy title">
                            <div>
                                apprenticeship - Ver 3 with audit trail
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell" data-label="Vacancy ref">
                            <span><span>VAC</span>1000014106</span>
                            
                        </td>
                        
                        <td class="govuk-table__cell dashboard-applications" data-label="Applications">-</td>
                        <td class="govuk-table__cell dashboard-closingdate" data-label="Closing date"><span>02 Jul 2021</span></td>
                        <td class="govuk-table__cell dashboard-status" data-label="Status"><span class="govuk-tag govuk-tag--blue">Ready for review</span></td>
                        <td class="govuk-table__cell dashboard-action" data-label="Action">
                            <a class="govuk-link" href="advert-edit-v3">Review</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Vacancy title">
                            <div>
                                apprenticeship - Ver 3 with tabbed trail
                                
                            </div>
                        </td>
                        <td class="govuk-table__cell" data-label="Vacancy ref">
                            <span><span>VAC</span>1000014106</span>
                            
                        </td>
                        
                        <td class="govuk-table__cell dashboard-applications" data-label="Applications">-</td>
                        <td class="govuk-table__cell dashboard-closingdate" data-label="Closing date"><span>02 Jul 2021</span></td>
                        <td class="govuk-table__cell dashboard-status" data-label="Status"><span class="govuk-tag govuk-tag--blue">Ready for review</span></td>
                        <td class="govuk-table__cell dashboard-action" data-label="Action">
                            <a class="govuk-link" href="advert-edit-v3-tabbed">Review</a>
                        </td>
                    </tr>
            </tbody>
            
            </table>
                        
        </div>
    </div>
</div>



{% endblock %}
