{% extends "ma-layout.html" %}

{% block pageTitle %}
  Manage advert
{% endblock %}

{% block content %}
            
	
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">		  


	<h1 class="govuk-heading-xl">Are you sure you want to approve this job advert?</h1>
	
	<p class="govuk-hint">We'll do a final review and then post it on ‘Find an apprenticeship’.</p>

	<form method="post" action="/review-adverts/success" class="">

		{% from "govuk/components/radios/macro.njk" import govukRadios %}
							{{ govukRadios({
							  idPrefix: "approveadvert",
							  name: "approveadvert",
							  fieldset: {
								legend: {
								  text: "",
								  isPageHeading: true,
								  classes: "govuk-fieldset__legend--m"
								}
							  },
							  items: [
								{
								  value: "Yes",
								  text: "Yes"
								},
								{
								  value: "No",
								  text: "No"
								}
							  ]
							}) }}
							{% from "govuk/components/button/macro.njk" import govukButton %}
							{{ govukButton({
								 text: "Continue"
							}) }}
     </form>
	</div>
</div>


{% endblock %}
