{% extends "ma-layout.html" %}

{% block pageTitle %}
  Manage advert
{% endblock %}

{% block content %}
            
	
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        
        <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            Manage advert
        </h1>
        
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Status</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">[New status]</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Advert title</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">Test apprenticeship</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Advert reference number</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body"><span>VAC</span>1000014106</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Closing date</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">12 Aug 2020</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Possible start date</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">20 Aug 2020</span>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a target="_blank" class="govuk-button" href="#">Approve advert</a>
        <ul class="govuk-list action-links">
            <li><a class="govuk-link" href="#">Reject advert</a></li>
            <li><a class="govuk-link" href="#">View advert</a></li>
        </ul>
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Manage applications</h2>
        
        <p class="govuk-body govuk-!-margin-bottom-0">Candidate applications for this apprenticeship will appear here.</p>
    </div>
</div>
<div class="govuk-body">
    <div class="govuk-!-margin-top-6">
        <a class="govuk-link" href="/accounts/JKKBY6/vacancies/">Return to dashboard</a>
    </div>
</div>


{% endblock %}
