{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "check-your-details"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Assurance Aerospace Ltd</span>
    <h1 class="govuk-heading-xl">About your agreement</h1>
    <p class="govuk-body">This agreement creates a legal contract between <span class="govuk-!-font-weight-bold">Assurance Aerospace Ltd</span> and the <span class="govuk-!-font-weight-bold">Education and Skills Funding Agency (ESFA)</span>. It allows you to transfer funds to other employers and pay training providers for apprenticeships.</p>

    <p class="govuk-body">You need to ensure you have the authority from your organisation before you sign this agreement.</p>

      {{ govukButton({
          text: "Continue to your agreement",
          href: "agreement"
        }) }}

  </div>
</div>




{% endblock %}
