{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "about-agreement"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Agreement between ASSURANCE AEROSPACE LTD and the Education and Skills Funding Agency (ESFA)</h1>
    <p class="govuk-body">We updated the agreement on 1 May 2018.</p>

    <h2 class="govuk-heading-m">Key features of the agreement</h2>

    <p class="govuk-body">ASSURANCE AEROSPACE LTD must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>only use the funding in their apprenticeship service account to train and assess apprentices</li>
      <li>have a ‘contract for services’ with their training providers</li>
      <li>follow the apprenticeship funding rules</li>
    </ul>

    <p class="govuk-body">The ESFA can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>suspend payments, recover funds or close ASSURANCE AEROSPACE LTD’s account if ASSURANCE AEROSPACE LTD breaks the agreement</li>
      <li>change the terms of the agreement and any part of the apprenticeship service</li>
    </ul>

    <h2 class="govuk-heading-m">The full agreement</h2>

  </div>
</div>




{% endblock %}
