{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "about-agreement"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Agreement between ASSURANCE AEROSPACE LTD and the Education and Skills Funding Agency (ESFA)</h1>
    <p class="govuk-body">We updated the agreement on 1 May 2018.</p>

    <p class="govuk-body">You need to ensure you have the authority from your organisation before you sign this agreement.</p>

      {{ govukButton({
          text: "Continue to your agreement",
          href: "agreement"
        }) }}

  </div>
</div>




{% endblock %}
