{% extends "layout.html" %}

{% block pageTitle %}
  Sign in using Government Gateway
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "gov-gateway-intro"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in using Government Gateway</h1>

    <form action="check-your-details" method="post" novalidate>
      {{ govukInput({
        label: {
          text: "Government Gateway user ID ",
          classes: "govuk-label--s"
        },
        hint: {
            text: "This could be up to 12 characters."
          },
        classes: "govuk-input--width-20",
        id: "gov-gateway-id",
        name: "gov-gateway-id"
      }) }}

      {{ govukInput({
        label: {
          text: "Password",
          classes: "govuk-label--s"
        },
        classes: "govuk-input--width-20",
        type: "password",
        id: "password",
        name: "password"
      }) }}

      {{ govukButton({
        text: "Sign in"
      }) }}
    </form>

  </div>
</div>





{% endblock %}
