{% extends "layout.html" %}

{% block pageTitle %}
  Using your Government Gateway details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "ways-to-add-paye-scheme"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Using your Government Gateway details</h1>
    <p class="govuk-body">You’ll now be taken to the HMRC Government Gateway site where you’ll be asked to sign in using your Government Gateway credentials.</p>
    <p class="govuk-body">When you sign in to your Government Gateway account you’ll be asked to ‘grant authority’ to allow your tax details to be used.</p>

    {{ govukButton({
      text: "Continue",
      href: "gov-gateway-sign-in"
    }) }}

    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">Skip this step for now</a></p>

  </div>
</div>




{% endblock %}
