
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      	<span class="govuk-caption-l">Registrations</span>
      	Prototype versions
      </h1>

      <p>If you are looking for the original prototype, you can <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://das-registration-prototype-old.herokuapp.com">find it here</a>.</p>

    </div>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h2 class="govuk-heading-l">
    		Current version
    	</h2>

    	<div class="govuk-grid-row">
    		<div class="govuk-grid-column-one-half">
    			<h3 class="govuk-heading-s">
    				Employer-led scenarios
    			</h3>
    			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    				<li>
    					<a class="govuk-link govuk-link--no-visited-state" href="start">Service start page</a>
    				</li>
    			</ul>

    		</div>

    		<div class="govuk-grid-column-one-half">
    			<h3 class="govuk-heading-s">
    				Provider-led scenarios
    			</h3>
    			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    				<li>
    					<a class="govuk-link govuk-link--no-visited-state" href="provider-led-registration/invitation-email">Invitation email</a>
    				</li>
    			</ul>
    		</div>
    	</div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




<h2 class="govuk-heading-l">Previous sprints</h2>
<p class="govuk-body">No previous versions avaiable yet.</p>
      <!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      	<div class="govuk-accordion__section">
      		<div class="govuk-accordion__section-header">

              <h2 class="govuk-accordion__section-heading">

              <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-2" aria-expanded="false">
                  Sprint 2
                </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>

                <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-2">
                  17th-1st October 2019
                </div>


      		</div>
          <div class="govuk-accordion__section-header">

              <h2 class="govuk-accordion__section-heading">

              <button type="button" id="accordion-default-heading-2" aria-controls="accordion-default-content-2" class="govuk-accordion__section-button" aria-describedby="accordion-default-summary-2" aria-expanded="false">
                  Sprint 1
                </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>

                <div class="govuk-accordion__section-summary govuk-body" id="accordion-default-summary-2">
                  3rd-17th September 2019
                </div>


      		</div> -->
      </div>
</div>


    </div>
</div>

{% endblock %}
