
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      	<span class="govuk-caption-l">Registrations</span>
      	Prototype versions
      </h1>

      <p>If you are looking for the original prototype, you can <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://das-registration-prototype-old.herokuapp.com">find it here</a>.</p>

    </div>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h2 class="govuk-heading-l">
    		Current version
    	</h2>

    	<div class="govuk-grid-row govuk-!-margin-bottom-6">
    		<div class="govuk-grid-column-one-half">
    			<h3 class="govuk-heading-s">
    				Employer-led scenarios
    			</h3>
    			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    				<li>
    					<a class="govuk-link govuk-link--no-visited-state" href="registration/start">Service start page</a>
    				</li>
            <li>
    					<a class="govuk-link govuk-link--no-visited-state" href="registration/start">Review provider-created vacancy</a>
    				</li>
            <li>
    					<a class="govuk-link govuk-link--no-visited-state" href="recruitment/recruitment-start">Recruitment scenarios list</a>
    				</li>
    			</ul>

    		</div>

    		<div class="govuk-grid-column-one-half">
    			<h3 class="govuk-heading-s">
    				Provider-led scenarios
    			</h3>
    			<ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    				<li>
    					<a class="govuk-link govuk-link--no-visited-state" href="provider-led-registration/invitation-email">Invitation email</a>
    				</li>
    			</ul>
    		</div>
    	</div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">
            Provider scenarios
          </h3>
          <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="#">Account homepage</a>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-column-one-half">
          </div>
    </div>

    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
  </div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Previous sprints</h2>
    <p class="govuk-body">No previous versions avaiable yet.</p>
  </div>
</div>


    </div>
</div>

{% endblock %}
