{% extends "layout.html" %}

{% block pageTitle %}
  Registrations prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
               <span class="govuk-caption-l">Registrations</span>
               Phase prototypes - TEST
          </h1>
          <p>If you are looking for the original prototype, you can <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://das-registration-prototype-old.herokuapp.com">find it here</a>.</p>
     </div>
</div>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          
          <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6">
               <h2 class="govuk-heading-l">Current phase</h2>
               <p class="gov-body">CI - Employers and providers collaborate on recruitment</p>
               <p><strong><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-304" target=>Ticket: CIDES-304 better communication on advert rejection &amp; audit trail</a></strong></p>
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                         <h3 class="govuk-heading-s">Employer journeys</h3>
                         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/apprentice-adverts-list-review-v2">Advert review tab</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/advert-edit-v3-no-trail">Advert with no audit trail</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/advert-edit-v3">Advert including audit trail</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/advert-edit-v3-tabbed">Advert including tabbed audit trail</a>
                              </li>
                         </ul>

                         <h3 class="govuk-heading-s">Training provider journeys</h3>
                         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">     
                         <li>
                              <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/rejected/dash-v2">Training provider dashboard</a>
                         </li>
                         <li>
                              <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/rejected/rejected-vacancy-v2-no-trail">Advert rejected by employer - no audit trail</a>
                         </li>
                         <li>
                              <a class="govuk-link govuk-link--no-visited-state" href="/recruitment/provider-view/rejected/rejected-vacancy-v2">Advert rejected by employer - with audit trail</a>
                         </li>
                    </ul>
                    </div>
               </div>
                         <hr class="seperator">
                         


               <div class="govuk-grid-row">
                    
                    <div class="govuk-grid-column-one-half">
                         
                         <h3 class="govuk-heading-s">Employer journeys</h3>
                         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/">Assign permission</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/user-permissions-tables-eas">User permissions tables</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/apprentice-adverts-list-review">Submit advert to ESFA journey - version 2</a>
                              </li>

                         </ul>

                         <h3 class="govuk-heading-s">Training provider journeys</h3>
                         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view">Create vacancy</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/approved/">Advert approved by employer</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/rejected/">Advert rejected by employer</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/user-permissions-tables">User permissions tables</a>
                              </li>

                         </ul>
                    </div>
               </div>
               <hr class="seperator">
               <p><strong><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-279">Ticket: CIDES-279</a></strong></p>
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                         <h3 class="govuk-heading-s">Employer journeys</h3>
                         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/apprentice-adverts">Your apprenticeship adverts - Re-design</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/apprentice-adverts-no-review">Your apprenticeship adverts - Re-design (no employer review)</a>
                              </li>

                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/manage-emails">Manage emails</a>
                              </li>
                         </ul>

                         <h3 class="govuk-heading-s">Training provider journeys</h3>
                         <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/approved/index">Your apprenticeship adverts - Re-design</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/approved/index-no-permission">Your apprenticeship adverts - Re-design (no employer review)</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/approved/manage-emails">Manage emails</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="/recruitment/provider-view/create/success">Confirmation page - CTA fix</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="/recruitment/provider-view/create/advert-edit">Recruitment page - CTA fix (Send to employer)</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="/recruitment/provider-view/create/advert-edit-esfa">Recruitment page - CTA fix (Send to ESFA)</a>
                              </li>
                              <li>
                                   <a class="govuk-link govuk-link--no-visited-state" href="/recruitment/provider-view/approved/apprentice-adverts-list-sent">Vacancies page - Content fix</a>
                              </li>

                         </ul>
                    </div>
               </div>


          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
     </div>
</div>

<!--
============================================================================
Previous versions
============================================================================
-->

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Previous phases</h2>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

               <!-- ACCORDION THREE - START -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Phase 3</span>
                         </h2>
                    </div>

                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-full">
                                   <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">

                                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                                             <div class="govuk-grid-column-one-half">
                                                  <h3 class="govuk-heading-s">Employer journeys</h3>
                                                  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="recruitment/">Assign permission</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="recruitment/user-permissions-tables">User permissions tables</a>
                                                       </li>
                                                       <!-- <li>
                                                       <a class="govuk-link govuk-link--no-visited-state" href="recruitment/permission-consolidated-radios.html">Assign permissions radios (consolidated version)</a>
                                                       </li>
                                                       <li>
                                                       <a class="govuk-link govuk-link--no-visited-state" href="recruitment/permission-consolidated-checkboxes.html">Assign permissions checkboxes (consolidated version)</a>
                                                       </li> -->
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="review-adverts/index.html">Review adverts</a>
                                                       </li>
                                                  </ul>

                                                  <h3 class="govuk-heading-s">Training provider journeys</h3>
                                                  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view">Create vacancy</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/approved/">Advert approved by employer</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="recruitment/provider-view/rejected/">Advert rejected by employer</a>
                                                       </li>
                                                  </ul>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- ACCORDION THREE - END -->

               <!-- ACCORDION TWO - START -->
               <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Phase 2</span>
                         </h2>
                    </div>

                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-full">
                                   <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">

                                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                                             <div class="govuk-grid-column-one-half">
                                                  <h3 class="govuk-heading-s">Employer journeys</h3>
                                                  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                       <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-2/recruitment/recruitment-scenarios">Recruitment - scenarios (VC1-C)</a>
                                                  </ul>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- ACCORDION TWO - END -->

               <!-- ACCORDION ONE - START -->
               <div class="govuk-accordion__section">

                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Phase 1</span>
                         </h2>
                    </div>

                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <div class="govuk-grid-row">
                              <div class="govuk-grid-column-full">
                                   <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
                                        <h2 class="govuk-heading-l">Phase 1</h2>

                                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                                             <div class="govuk-grid-column-one-half">
                                                  <h3 class="govuk-heading-s">Employer journeys</h3>
                                                  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/registration/start">Service start page</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/provider-led-registration/invitation-email">Provider-led invitation email</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/recruitment-layout-options-start">Recruitment layout options</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/recruitment-start">Recruitment homepage scenarios</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/provider-permissions/providers">Training provider permissions homepage (VC1-A)</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/recruitment-vacancy-statuses">Recruitment - vacancy statuses (VC1-D)</a>
                                                       </li>
                                                  </ul>
                                             </div>

                                             <div class="govuk-grid-column-one-half">
                                                  <h3 class="govuk-heading-s">Provider journeys</h3>
                                                  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/provider-view/rejected-vacancy">Vacancy rejected with employer comments (VC1-A)</a>
                                                       </li>
                                                       <li>
                                                            <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/vacancy-created-start">Submit vacancy - permissions scenarios (VC1-B)</a>
                                                       </li>
                                                  </ul>
                                             </div>

                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- ACCORDION ONE - END -->

          </div>
     </div>
</div>

{% endblock %}
