{% extends "layout.html" %}

{% block pageTitle %}
  Provider overview
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "providers"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Cyberdyne Training Ltd</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {{ govukTable({

  head: [
    {
      text: "Organisation"
    },
    {
      text: "What Cyberdyne Training Ltd can do on your behalf"
    },
    {
      text: "",
      format: "numeric"
    }
  ],
  rows: [
    [
      {
        text: "Assurance Aerospace Ltd"
      },
      {
        html: "<p class='govuk-body'>Create cohorts<br>Reserve funding<br>Add and edit apprentice vacancy ads<br>Notify successful and unsuccessful candidates</p>"
      },
      {
        html: "<a class='govuk-link govuk-link--no-visited-state' href='change-provider-permissions'>Change</a>",
        format: "numeric"
      }
    ],
    [
      {
        text: "Assurance Aerospace Engineering"
      },
      {
        text: "Nothing"
      },
      {
        html: "<a class='govuk-link govuk-link--no-visited-state' href='#'>Change</a>",
        format: "numeric"
      }
    ]
  ]
}) }}




  </div>
</div>



{% endblock %}
