{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "get-funding"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Ways to add your PAYE scheme</h1>
    <p class="govuk-body govuk-!-font-weight-bold">If you know the annual payroll for your organisation is under £3 million, you can use either:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Government Gateway login for your PAYE scheme</li>
      <li>accounts office reference number and employer PAYE scheme reference</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">If you know the annual payroll for your organisation is over £3 million, you can use:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Government Gateway login for your PAYE scheme</li>
    </ul>

    {{ govukInsetText({
      text: "If you’re not sure how much your annual payroll is, choose Government Gateway."
    }) }}

    <form action="way-to-add-paye" method="post" novalidate>
      {{ govukRadios({
        idPrefix: "way-to-add-paye",
        name: "way-to-add-paye",
        items: [
          {
            value: "government gateway",
            text: "I want to use Government Gateway "
          },
          {
            value: "paye",
            text: "I want to use my accounts office reference number and employer PAYE scheme reference"
          }
        ]
      }) }}

      {{ govukWarningText({
        text: "Before you continue, you must make sure you have authority to add PAYE schemes to the account for this organisation.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
          text: "Continue"
        }) }}
    </form>


  </div>
</div>




{% endblock %}
